.article-preview
  --slider-active-pagination-background-color #af93e2
  &__title
    display block
    margin-bottom 0.25rem
    line-height 1.3
    font-weight 500
    text-decoration none
  &__image
    transition transform 0.3s cubic-bezier(.17,.67,.83,.67)
    transform var(--image-transform)
  &__link
    display block
    margin-bottom 1rem
    @media(hover: hover)
      &:hover
        --image-transform scale(1.05)
        transition-duration 0.3s
