.product-tabs.js-tabs
  .product-tabs__tabs.s-hidden
    .product-tabs__tab(data-product-tab='product-tab1') Оплата и доставка
    //- .product-tabs__tab(data-product-tab='product-tab2') Характеристики
    //- .product-tabs__tab(data-product-tab='product-tab3') Как выбрать парик
    //- .product-tabs__tab(data-product-tab='product-tab4') Как ухаживать и носить парик
    //- .product-tabs__tab(data-product-tab='product-tab5') Как надевать парик
    //- .product-tabs__tab(data-product-tab='product-tab6') Вопросы и ответы
  .product-tabs__tabs-content
    .product-tabs__tab.xl-hidden.l-hidden.m-hidden(data-product-tab='product-tab1') Оплата и доставка
    .product-tabs__tab-content(data-product-tab='product-tab1')
      include ../product-payment-delivery/product-payment-delivery
    //- .product-tabs__tab.xl-hidden.l-hidden.m-hidden(data-product-tab='product-tab2') Характеристики
    //- .product-tabs__tab-content(data-product-tab='product-tab2')  2
    //- .product-tabs__tab.xl-hidden.l-hidden.m-hidden(data-product-tab='product-tab3') Как выбрать парик
    //- .product-tabs__tab-content(data-product-tab='product-tab3')  3
    //- .product-tabs__tab.xl-hidden.l-hidden.m-hidden(data-product-tab='product-tab4') Как ухаживать и носить парик
    //- .product-tabs__tab-content(data-product-tab='product-tab4')  4
    //- .product-tabs__tab.xl-hidden.l-hidden.m-hidden(data-product-tab='product-tab5') Как надевать парик
    //- .product-tabs__tab-content(data-product-tab='product-tab5')  5
    //- .product-tabs__tab.xl-hidden.l-hidden.m-hidden(data-product-tab='product-tab6') Вопросы и ответы
    //- .product-tabs__tab-content(data-product-tab='product-tab6')  6
