.instagram-widget
  &__title
    position relative
    margin-left 1rem
    padding .5rem 1rem
    padding-left 2rem
    border 4px solid #f7a3c8
    &::before
      content ''
      position absolute
      top 50%
      left calc(-1rem - 4px)
      width 2.25rem
      height 2.25rem
      background-color #fff
      background-image var(--icon-instagram)
      background-repeat no-repeat
      background-position center
      background-size 1.5rem
      transform translateY(-50%)
  &__list
    display grid
    grid-template-columns 1fr 1fr 1fr 1fr
    grid-gap 1rem
    margin-top .5rem
  &__item
    position relative
    overflow hidden
    padding-bottom 100%
  &__item a
    position absolute
    top 50%
    left 0
    width 100%
    transform translateY(-50%)
