.rating
  display flex
  flex-direction row-reverse
  justify-content flex-end
  align-items center
  margin-bottom 0.5rem
  &:not(:checked) > input
    display none
  &:not(:checked) > label
    width 1.5rem
    height 1.5rem
    box-sizing content-box
    padding 0 0.3rem
    mask-image url(../images/svg-sprites/common.svg#star)
    mask-repeat no-repeat
    mask-size contain
    background-color #E5E5E5
    cursor pointer
  & > input:checked ~ label 
    background-color #FFE34A
  &:not(:checked) > label:hover
  &:not(:checked) > label:hover ~ label 
    background-color #FFE34A
  &__message
    padding-left 0.5rem
