include ../scripts/scripts
include ../block-wrap/block-wrap
include ../base-styles/base-styles
include ../form/form
include ../aside-faq/aside-faq
include ../modal/modal
include ../gallery/gallery
include ../table/table
include /blocks/style/style
include /helpers/create-element
include /helpers/classes

doctype html
html(lang='ru')
  head
    include ../head/head
  body
    include ../header/header
    main
      block content
    include ../footer/footer
    block styles
    +style('rest')
  if isContactsPage
    script(src="https://unpkg.com/video.js/dist/video.min.js")
    script(src="https://unpkg.com/videojs-vr/dist/videojs-vr.min.js")
  +scripts(['swiper-bundle.min.js'])
  +scripts(['jquery-3.2.1.min.js'])
  +scripts(['fotorama.js'])
  +scripts(['jquery.modal.min.js'])
  +scripts(['jquery.countdown.js'])
  +scripts(['script.js'])
