mixin modal(header)
  .modal(class!=attributes.class id!=attributes.id)
    a(href='' rel='modal:close').modal__close ×
    .modal__header !{header}
    block
    a(href='' rel='modal:close').btn Закрыть
