.aside-faq
  position relative
  padding 1rem 1rem .5rem
  border 4px solid #f7a3c8
  @media screen and (min-width 1025px)
    margin-right .5rem
  &::after
    position absolute
    right 0
    top 1rem
    content '?'
    width 2rem
    font-size 3rem
    line-height 1
    text-align center
    color #f7a3c8
    background-color #fff
    transform scaleX(.75) translateX(80%)
  &__title
    font-weight 500
    margin-bottom .5rem
  &__item
    margin-bottom .5rem
    @media screen and (min-width 787px)
      font-size .875rem
