mixin aside-faq(title='', content=[[href= '',name= '']])
  .aside-faq(class= attributes.class)
    .aside-faq__title !{title}
    each item in content
      .aside-faq__item
        +link-primary(item[0], item[1])
