.slider
  --arrow-position 0
  --transition-duration-out 0.4s
  --transition-duration-in 0.1s
  position relative
  &__slides
    position static
    overflow hidden
  &__wrapper
    display grid
    grid-auto-columns auto
    grid-template-rows auto
    grid-auto-flow column
  &__arrow
    --arrow-color white
    --before-background-color #7b66a1
    position absolute
    top calc(50% - 32px)
    width 2.75rem
    height 2.25rem
    background-color var(--arrow-color)
    transition background-color var(--transition-duration-out)
    z-index 100
    cursor pointer
    opacity 0.9
    &::before
      position absolute
      top 50%
      left 50%
      content ''
      width 1rem
      height 1rem
      mask-image url(../images/svg-sprites/common.svg?v=3#arrow)
      mask-repeat no-repeat
      mask-position center
      mask-size 1rem
      background-color var(--before-background-color) 
      transform translate(-50%,-50%)
      transition background-color var(--transition-duration-out)
    &--prev
      left var(--arrow-position)
    &--next
      right var(--arrow-position)
      transform rotate(180deg)
    &:hover
      --before-background-color #ffffff
      --arrow-color #baafcd
      transition-duration var(--transition-duration-in)
    &:active
      --arrow-color #5b4980
    &--disabled
    &--disabled:hover
    &--disabled:active
      --arrow-color #d8d8d8
      --before-background-color #5b4980 
      cursor default
  &__pagination
    display flex
    gap 0.5rem
    justify-content center
    align-items center
  &__pagination-item
    margin-top 0.75rem
    margin-bottom 0.75rem
    --transition-duration var(--transition-duration-out)
    position relative
    width .625rem
    height .625rem
    background-color #7b66a1
    transition background-color var(--transition-duration)
    &--active
      --transition-duration var(--transition-duration-in)
      background-color var(--slider-active-pagination-background-color , white)
  &__scrollbar
    margin-top 3rem
    height 8px
    background-color #7b66a1
    border-radius 80px
    cursor pointer
  &__drag
    height 8px
    background-color black
    border-radius 80px
