.accordion-item
  --transition-in .1s
  --transition-out .3s
  display grid
  grid-template-rows min-content 0fr
  transition-property grid-template-rows
  transition-duration var(--transition-out)
  margin-top 1rem
  & + &
    margin-top 1rem
  &--active
    grid-template-rows min-content 1fr
    transition-duration var(--transition-in)
    & ^[-1]__body
      padding-y var(--base-padding)
      transition-duration var(--transition-in)
  &__header
    position relative
    padding var(--base-padding)
    padding-right 2.25rem
    background-color var(--color-beige-lighter)
    cursor pointer
    h3
      margin 0
      color var(--color-black)
  &__arrow
    position absolute
    top 50%
    right 1rem
    display block
    width 1rem
    height 1rem
    translate 0 -50%
    path
      stroke var(--color-black)
  &__body
    display flex
    flex-direction column
    gap 0.5rem
    padding-x var(--base-padding)
    overflow hidden
    transition-property padding
    transition-duration var(--transition-out)
    p
      font-weight normal
      margin-top 1rem
      margin-left 1rem

  &--menu
    & ^[0]__link
      --border-color var(--color-link)
      display flex
      align-items center
      gap 0.75rem
      counter-increment numbers
      text-decoration none
      &:hover
        --border-color var(--color-link-hover)
      &::before
        content counter(numbers)
        display flex
        flex-direction column
        justify-content center
        min-width 1.5rem
        height 1.5rem
        font-size 0.875rem
        text-align center
        border 1px solid var(--border-color)
        border-radius 50%
        transition border-color var(--transition-duration-out)
