.footer-main-payment

  display flex
  justify-content space-between
  border-right 2px solid #e0e0e0
  padding-right 2rem
  margin-bottom 1rem
  @media screen and (max-width 1024px)
    padding-top 1rem
    border-right none
    border-top 2px solid #e0e0e0
  &__item
    background-image url('../images/footer-main-payment.png')
    background-repeat no-repeat
    &_visa
      background-position -0px -49px
      width 66px
      height 22px
    &_webmoney
      background-position -0px -0px
      width 99px
      height 24px
    &_mts
      background-position -0px -24px
      width 72px
      height 25px
    &_yandex
      background-position -0px -71px
      width 55px
      height 24px
    &_euroset
      background-position -55px -71px
      width 43px
      height 37px
    &_master
      background-position -0px -95px
      width 41px
      height 25px
    &_megafon
      background-position -41px -108px
      width 39px
      height 37px
