+block-wrap({'wrap':true}).footer-main-contacts
  +block-wrap__item(12,12,7,6)
    .footer-main-contacts__phone +7 (812) 386 11 62
    .footer-main-contacts__copyright.xl-hidden.l-hidden.s-hidden © Магазин париков "Центр Дизайна волос" 2006 - 2016
  
  +block-wrap__item(12,12,4,6)
      .footer-main-contacts__address
        | г. Санкт-Петербург, <br>
        | наб. Обводного канала, 108А <br>
        | Работаем ежедневно с 10 до 21 <br>
        +link-primary('','Как добраться')
  +block-wrap__item(12,12,1,6)
    .footer-main-contacts__social
      a(href='https://vk.com/salon_hairdesign' target="_blank" rel="nofollow").footer-main-contacts__vk
      //- +link('').footer-main-contacts__instagram
