.footer-main-contacts
  margin-bottom 1rem
  color #7a7a7a
  font-size .875rem
  
  @media screen and (max-width 1024px)
    padding-top 1rem
    flex-wrap nowrap
  @media screen and (max-width 786px)
    font-size 1rem
    flex-wrap wrap
  &__phone
    font-size 2.5rem
    font-weight 500
    @media screen and (max-width 1200px)
      font-size 2rem
  &__address
    margin-bottom 1rem
  &__social
    display flex
    align-items center
    a
      opacity .75
      transition opacity .2s
      &:hover
        opacity 1
  &__vk
    display block
    margin-right 1rem
    background-image url('../images/vk.png')
    width 30px
    height 17px
  &__instagram
    display block
    margin-right 1rem
    background-image url('../images/instagram.png')
    width 24px
    height 24px
