extends /blocks/layout/layout

include /blocks/accordion-item/accordion-item
include /blocks/img/img
include /blocks/rating-sum/rating-sum

block content
  -
    var imagesFolder = '/images/articles/kak-ubrat-zalysiny-u-zhenshchin/'
  .container
    .content
      +block-wrap({'wrap':true}).news-list
        +block-wrap__item(9,9,9,6)
          include /blocks/article-header/article-header

          p Густые, здоровые локоны&nbsp;– неотъемлемая часть классического женского образа. Несмотря на&nbsp;отсутствие угрозы здоровью, облысение серьезно влияет на&nbsp;психическое здоровье женщин. В&nbsp;одном исследовании 52&nbsp;% женщин с&nbsp;выпадением волос заявили, что это состояние расстраивает, сообщали о&nbsp;тревоге, низкой самооценке и&nbsp;негативном восприятии тела. Так как облысение влияет на&nbsp;многие сферы жизни женщин, важно решать эту проблему. В&nbsp;статье рассматриваются формы и&nbsp;причины облысения, как убрать залысины у&nbsp;женщин.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-1',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Красота женщины в ее волосах' title='').image-desc__img
            figcaption.image-desc__desc Красота женщины в&nbsp;ее волосах


          h2 Причины алопеции у&nbsp;женщин
          h3 Генетическая предрасположенность
          p Научно подтверждено, что большинство случаев женской алопеции связано с&nbsp;генетикой. Хотя точный генетический код, приводящий к&nbsp;облысению, не&nbsp;выявлен, исследования показывают, что ген ароматазы, отвечающий за&nbsp;преобразование андрогенов в&nbsp;эстроген&nbsp;(обычно тестостерон в&nbsp;эстрадиол) в&nbsp;волосяном фолликуле, играет значимую роль в&nbsp;выпадении волос по&nbsp;женскому типу.

          h3 Гормональные изменения
          p Гормоны, особенно андрогены, отвечающие за&nbsp;развитие мужских половых признаков, также играют важную роль в&nbsp;выпадении волос у&nbsp;женщин. Женщины производят тестостерон (хотя и&nbsp;в&nbsp;меньших количествах, чем мужчины), метаболизирующийся с&nbsp;образованием дигидротестостерона, который связывается с&nbsp;андрогенными рецепторами в&nbsp;волосяных фолликулах, заставляя их сжиматься и&nbsp;прекращать образование стержней.
          p Из-за менопаузы уровень эстрогена, поддерживающего рост волос, падает, а&nbsp;уровень андрогенов повышается. В&nbsp;этот период женщины подвержены облысению.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-2',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Признаки гормонального дисбаланса' title='').image-desc__img
            figcaption.image-desc__desc Признаки гормонального дисбаланса

          h3 Стресс и&nbsp;психологические факторы
          p В&nbsp;некоторых случаях стресс провоцирует истончение волос и&nbsp;даже образование проплешин. Данный тип облысения называется телогеновым, т.е.&nbsp;нарушающим естественный цикл волосяного роста. В&nbsp;результате ряда психологических факторов стержни в&nbsp;анагене преждевременно переходят в&nbsp;телоген, вызывая обильное выпадение волос. При своевременном лечении состояние обратимо.
          p Трихотилломания&nbsp;— тип облысения&nbsp;(расстройство выдергивания собственных волос), часто спровоцированный сильным стрессом, тревогой, депрессией, скукой или разочарованием.

          h3 Неправильный уход за&nbsp;волосами
          ul.list-marked
            li 
              strong Расчесывание по&nbsp;направлению от&nbsp;корней вниз
              |  способствует большему запутыванию прядей, образованию колтунов. Попытки разорвать спутанную прядь повышает ломкость волос.
            li 
              strong Туго стягивающие волосы хвосты
              |, косички, или дреды, повреждают их, создавая стресс и&nbsp;чрезмерное натяжение, что приводит к&nbsp;ломкости стержней, в&nbsp;первую очередь по&nbsp;фронтальной линии. При постоянном ношении тугих причесок, волосяные фолликулы замещаются фиброзной тканью и&nbsp;волосы в&nbsp;этом месте больше не&nbsp;растут.
            li 
              strong Высокие концентрации химических веществ
              |, используемых при окрашивании и&nbsp;завивке, также повреждают стержни, вызывая их ломкость и&nbsp;выпадение.
            li 
              strong Нанесение шампуня на&nbsp;волосы
              |, а&nbsp;не&nbsp;кожу головы смывает защитный слой, повышая склонность стержней к&nbsp;повреждению. Шампуни в&nbsp;первую очередь предназначены для очистки кожи головы от&nbsp;грязи и&nbsp;излишков масла.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-3',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Тугой хвост и подобные прически создают чрезмерное напряжение для волос' title='').image-desc__img
            figcaption.image-desc__desc Тугой хвост и&nbsp;подобные прически создают чрезмерное напряжение для волос

          h3 Влияние окружающей среды
          ul.list-marked
            li Исследования установили, что 
              strong  канцерогены и&nbsp;другие химические взвеси в&nbsp;воздухе
              |  способны влиять на&nbsp;волосяной рост, блокируя механизмы, вырабатывающие белок,&nbsp;— строительный материал стержня.
            li 
              strong Тяжелые металлы в&nbsp;составе воды
              |  увеличивают вероятность отравления, приводят к&nbsp;выпадению волос и&nbsp;другим проблемам со&nbsp;здоровьем&nbsp;— усталость, тошнота и&nbsp;головные боли. На&nbsp;здоровье влияют: свинец, мышьяк, медь, таллий и&nbsp;другие. Свинец повреждает волосяные фолликулы, а&nbsp;медь может привести к&nbsp;полному облысению.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-4',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Окружающая среда сильно влияет на состояние и здоровье волос' title='').image-desc__img
            figcaption.image-desc__desc Окружающая среда сильно влияет на&nbsp;состояние и&nbsp;здоровье волос


          h2 Диагностика алопеции
          h3 Трихологический осмотр
          p Прежде чем приступить к&nbsp;обследованию для оценки степени облысения трихолог собирает анамнез пациента посредством вводного интервью, где задает конкретные вопросы, чтобы получить общее представление о&nbsp;состоянии здоровья, диете, возможных стрессовых обстоятельствах, наследственных факторах, используемых шампунях и&nbsp;т.д. После проводится физический осмотр кожи головы и&nbsp;волос на&nbsp;присутствие признаков возможных заболеваний.
          p На&nbsp;основании собранной информации часто возникает необходимость в&nbsp;углубленных исследованиях, таких как трихоскопия или трихограмма, анализах крови или биопсии. Исследования важны для диагностики болезней кожи головы, при мониторинге продуктивных методов лечения.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-5',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Трихоскопия' title='').image-desc__img
            figcaption.image-desc__desc Трихоскопия

          h3 Тест на&nbsp;выдергивание
          p Это простое исследование основано на выдергивании волос, находящихся в&nbsp;телогеновой фазе. Для тестирования врач выбирает 50–60 волосков и&nbsp;держит собранные в&nbsp;пучок волосы близко к&nbsp;коже головы между большим, указательным и&nbsp;средним пальцами. Затем медленно и&nbsp;уверенно тянет пучок, одновременно скользя пальцами по&nbsp;волосяным стержням, стараясь не&nbsp;тянуть быстро или сильно Тесты проводятся на&nbsp;макушке, в&nbsp;затылочной и&nbsp;боковых зонах. Волоски, оставшиеся в&nbsp;руке, подсчитывают. Тест считается положительным, если во&nbsp;время процедуры выпадает 10&nbsp;% и&nbsp;более волосков.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-6',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Тест на выдергивание волос позволит понять есть ли проблема выпадения волос' title='').image-desc__img
            figcaption.image-desc__desc Тест на&nbsp;выдергивание волос позволит понять есть&nbsp;ли проблема выпадения волос

          h3 Лабораторные анализы
          ul.list-marked
            li Полный анализ крови для комплексной оценки состояния здоровья женщины.
            li Анализ на&nbsp;С-реактивный белок, чтобы определить уровень воспаления, связанного с&nbsp;алопецией. СРБ&nbsp;— признанный маркер аутоиммунного воспаления.
            li Тест на&nbsp;антинуклеарные антитела используют для диагностики аутоиммунных патологий.
            li Анализ сыворотки железа и&nbsp;ферритина, так&nbsp;как исследования подтвердили прямую связь между дефицитом железа и&nbsp;облысением.
            li Исследование гормонов щитовидной железы, которые играют жизненно важную роль в&nbsp;разных физиологических процессах, связанных с&nbsp;ростом клеток. Дисбаланс гормонов Т3 и&nbsp;Т4 нарушает рост волос и&nbsp;здоровье фолликулов.
            li Анализ на&nbsp;уровень пролактина&nbsp;— гормона, вырабатываемого для роста груди и&nbsp;выработки молока. Однако чрезмерный уровень пролактина способствует выпадению волос.
            li Анализ на&nbsp;уровень тестостерона, так его производное&nbsp;— ДГТ разрушающе действует на&nbsp;фолликулы.
            li Анализ на&nbsp;эстроген и&nbsp;прогестерон. Низкий уровень эстрогена и&nbsp;прогестерона связан с&nbsp;выпадением волос у&nbsp;женщин, например, в&nbsp;период менопаузы.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-7',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Лабораторные анализы' title='').image-desc__img
            figcaption.image-desc__desc Лабораторные анализы
          p 
            strong Анализ венозной крови на&nbsp;предрасположенность к&nbsp;облысению.
            |  Тест проводят для анализа генетических маркеров, связанных с&nbsp;развитием андрогенной и&nbsp;диффузной алопеции, на&nbsp;основе которых врач подбирает схему лечения и&nbsp;продолжительность курсов интенсивной и&nbsp;противорецидивной терапии.

          h3 Инструментальные методы диагностики
          p 
            strong Трихоскопия&nbsp;
            |– это современный вид диагностики, помогающий оценить состояние кожи головы и&nbsp;волос. Находит причину выпадения волос или образования высыпаний на коже. Трихоскопия облегчает выбор лечения и&nbsp;позволяет избежать проведения более инвазивных тестов. Дает возможность определить состояние всех слоев эпидермиса, дермы и&nbsp;подкожной клетчатки.
          p 
            strong Трихограмма&nbsp;
            |– исследование стержней и&nbsp;волосяных фолликулов. Во&nbsp;время процедуры на&nbsp;анализ берется около 50–100 волосков, которые рассматривают под микроскопом и&nbsp;анализируют их процентное соотношение в&nbsp;разных фазах активности.


          h2 Современные методы лечения алопеции
          h3 Медикаментозное

          h4 Финастерид
          p Препарат не&nbsp;дает организму преобразовывать тестостерон в&nbsp;ДГТ. Это не&nbsp;снижает чувствительность волосяных фолликулов к&nbsp;ДГТ, но&nbsp;снижает воздействие гормона на&nbsp;луковицы. На&nbsp;сегодня это самый рекомендуемый метод лечения.

          h4 Миноксидил
          p Лекарственный состав расширяет кровеносные сосуды вокруг участков облысения или истончения прядей, стимулируя приток крови к&nbsp;коже головы, в&nbsp;результате чего к&nbsp;фолликулам поступает больше кислорода и&nbsp;питательных веществ, что необходимо для здорового волосяного роста.

          h4 Дутастерид
          p Лекарство действует аналогично финастериду и&nbsp;даже показало большую результативность в&nbsp;стимулировании роста волос. Поэтому, если лечение финастеридом не&nbsp;дает положительных результатов, следующим этапом становится дутастерид.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-8',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Дутастерид' title='').image-desc__img
            figcaption.image-desc__desc Дутастерид

          h4 Кетоконазол
          p Это противовоспалительное, противогрибковое и&nbsp;антиандрогенное средство. Выпускается в&nbsp;форме таблеток, входит в&nbsp;состав шампуней и&nbsp;кремов. Используется также после пересадки волос, чтобы минимизировать последствия шоковой потери волос после операции.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-9',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Кетоконазол' title='').image-desc__img
            figcaption.image-desc__desc Кетоконазол

          h4 Подкожное введение лечебных составов
          p Метод применяется, когда наружные средства бессильны. К&nbsp;действенным препаратам относятся: активаторы роста, пептиды, витаминизированные составы, коллаген и&nbsp;другие. Лечебные коктейли вводятся в&nbsp;средние слои кожи под местной анестезией. Дополнительно решаются проблемы с&nbsp;сухими, жирными волосами и&nbsp;секущимися кончиками.

          h3 Физиотерапевтические процедуры
          h4 Электрофорез
          p Введение препаратов в&nbsp;кожу посредством тока повышает эффективность лечения алопеции, дает долгосрочные результаты. Допустимо одновременное введение нескольких лекарственных составов при отсутствии побочных эффектов. Для стимуляции кровообращения волосяных фолликулов, предотвращения дальнейшего облысения используют препараты магния и&nbsp;витамина&nbsp;В6, никотиновой кислоты, эуфиллина и&nbsp;цинка.

          h4 Лазеротерапия
          p Воздействие инфракрасных и&nbsp;ультрафиолетовых лучей показало отличные результаты при облысении. Под воздействием красного света стимулируется образование новых клеток, улучшается приток крови к&nbsp;волосяным фолликулам, а&nbsp;значит их питание. УФ-лучи предотвращают выпадение волос и&nbsp;уничтожают болезнетворные микроорганизмы, поэтому применяются при себорее и&nbsp;лишае.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-10',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Лазеротерапия' title='').image-desc__img
            figcaption.image-desc__desc Лазеротерапия

          h4 Криотерапия
          p Процедура характеризуется локальным воздействием на&nbsp;зоны облысения жидким азотом до&nbsp;появления легкой гиперемии кожи головы. В&nbsp;результате усиливается кровообращение и&nbsp;улучшается питание тканей.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-11',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Криотерапия' title='').image-desc__img
            figcaption.image-desc__desc Криотерапия


          h3 Трансплантация волос
          p Операция по&nbsp;пересадке волос&nbsp;– хирургическое лечение облысения. Процедура включает взятие участков кожи с&nbsp;фолликулами с&nbsp;донорской зоны и&nbsp;вживление их в&nbsp;облысевшие или поврежденные участки. Благодаря современным методам и&nbsp;передовым хирургическим инструментам донорская область во&nbsp;время операции минимально повреждается, но&nbsp;пациенты все равно сталкиваются с&nbsp;кровотечением, изменением чувствительности кожи головы, выпадением волос и&nbsp;рубцами в&nbsp;этой части головы после трансплантации.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-12',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Трансплантация волос до и после' title='').image-desc__img
            figcaption.image-desc__desc Трансплантация волос до&nbsp;и&nbsp;после

          h3 Технологии будущего
          h4 Стволовые клетки, волосяные фолликулы и&nbsp;белок TGF-бета
          p Исследования возможностей терапии стволовыми клетками обещают найти лекарство от&nbsp;выпадения волос. У&nbsp;стволовых клеток уникальная способность трансформироваться в&nbsp;разные типы клеток или делиться, производя больше стволовых клеток, способствуя процессу регенерации и&nbsp;восстановления. Волосяные фолликулы&nbsp;— единственные клетки в&nbsp;организме человека, которые непрерывно делятся, независимо от&nbsp;повреждений. Исследователи обнаружили роль белка под названием TGF-бета в&nbsp;развитии и&nbsp;гибели фолликулов. Если ученые определят, как этот белок активирует деление клеток, то&nbsp;появится возможность искусственно стимулировать стволовые клетки фолликулов, что потенциально приведет к&nbsp;излечению от&nbsp;облысения.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-13',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Стволовые клетки могут трансформироваться в другие типы клеток или делиться' title='').image-desc__img
            figcaption.image-desc__desc Стволовые клетки могут трансформироваться в&nbsp;другие типы клеток или делиться

          h4 Коррекция генов при АГА
          p В&nbsp;исследовании 2020 года ученые использовали технологию коррекции генов под названием CRISPR/Cas9, чтобы изменить гены, связанные с&nbsp;выпадением волос. Хотя подход показал себя многообещающим в&nbsp;исследованиях на&nbsp;животных, этические последствия изменения генов и&nbsp;необходимость дальнейших исследований задерживают широкое применение метода при лечении облысения.


          h2 Способы маскировки алопеции
          p Волосы&nbsp;— важная часть женского имиджа, поскольку тенденции и&nbsp;социальные условности редко рассматривают лысых женщин как идеал красоты и&nbsp;эстетики. Поэтому многие из&nbsp;40&nbsp;% женщин, столкнувшихся с&nbsp;проблемой облысения, ищут способы убрать залысины на&nbsp;голове, используя для этого все доступные методы. Когда лечение затягивается или не&nbsp;дает результатов в&nbsp;ход идут маскирующие средства&nbsp;— шарфы, шляпы, парики и&nbsp;накладки.

          h3 Загустители для волос
          p Представляют собой сухие кератиновые, хлопковые или искусственные волокна в&nbsp;баночке цилиндрической формы с&nbsp;отверстиями в&nbsp;виде сита. Действие продукта основано на&nbsp;электростатике. При встряхивании баночки волокна получают электрический заряд от&nbsp;трения о&nbsp;внутреннюю поверхность емкости и&nbsp;примагничиваются к&nbsp;сухим стержням, уплотняя волосяной покров, убирая залысины на&nbsp;лбу и&nbsp;висках у&nbsp;женщин. Большинство камуфлирующих продуктов водостойкие и&nbsp;не&nbsp;пачкают одежду. Смываются при мытье головы. Дают видимый результат при легкой степени облысения.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-14',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Toppik - загуститель для волос в форме порошка' title='').image-desc__img
            figcaption.image-desc__desc Toppik&nbsp;- загуститель для волос в форме порошка

          h3 Парики и&nbsp;накладные волосы
          p Если волос остается мало, а&nbsp;смена прически и&nbsp;загустители не&nbsp;дают значимых результатов, чтобы убрать залысины у&nbsp;девушки, выбирают парики, шиньоны или накладки. Накладные волосы мгновенно восстанавливают волосяной покров без инъекций и&nbsp;операций. Несмотря на&nbsp;устаревшие мифы, что парики выглядят фальшивыми, легко спадают и&nbsp;т.д., это естественный способ решения проблемы облысения. Дополнительно парики дают возможность опробовать больше стилей и&nbsp;образов.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-15',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Женский парик Ellen Wille' title='').image-desc__img
            figcaption.image-desc__desc Женский парик Ellen Wille

          p Современные парики выглядят естественно, люди вряд&nbsp;ли определят свои или накладные волосы у&nbsp;человека, особенно, если они выполнены из&nbsp;натуральных волос на&nbsp;сетчатой основе. Сегодня парики изготавливают разных размеров, поэтому каждый может подобрать изделие, плотно облегающее голову. Натуральные парики окрашивают, сушат феном и&nbsp;завивают.
          p В&nbsp;Центре дизайна волос в&nbsp;Санкт-Петербурге представлены натуральные и&nbsp;искусственные парики разной длины. Это может быть стрижка или волнистые длинные локоны с&nbsp;эффектом мелирования. Для удобства гостей оборудованы примерочные, возможна доставка в&nbsp;города&nbsp;РФ.


          h2 Домашние средства и&nbsp;народные методы
          h3 Массаж головы
          p Это естественный и&nbsp;проверенный способ улучшить кровообращение кожи головы, что помогает волосяным фолликулам получить необходимые питательные вещества, минералы и&nbsp;кислород.

          h3 Масла от&nbsp;облысения
          ul.list-marked
            li Втирание теплого 
              strong касторового масла
              |  в&nbsp;кожу головы за&nbsp;20&nbsp;минут до&nbsp;мытья стимулирует работу волосяных луковиц, увеличивая кровообращение по&nbsp;всей коже головы. Касторовое масло обладает противовоспалительными и&nbsp;противогрибковыми свойствами, которые положительно сказываются на&nbsp;здоровье волос.
            li 
              strong Кокосовое масло
              |  содержит питательные жиры и&nbsp;альфа-токоферол, увлажняющие и&nbsp;питающие кожу головы. Что в&nbsp;свою очередь, укрепляет волосяные фолликулы и&nbsp;стимулирует волосяной рост. Кокосовое масло также богато антиоксидантами, которые защищают кожу головы и&nbsp;стержни от&nbsp;повреждений. Массаж с&nbsp;теплым кокосовым маслом улучшает питание волосяных фолликулов, в&nbsp;результате чего постепенно восстанавливается густота волосяного покрова.
            li 
              strong Масло семян тыквы
              |  показало положительные результаты при лечении андрогенетической алопеции. В&nbsp;масле высокое содержание каротиноидов, токоферолов и&nbsp;других полезных питательных веществ, которые играют важную роль в&nbsp;возобновлении волосяного роста. Однако точный механизм действия тыквенного масла до&nbsp;сих&nbsp;пор не&nbsp;ясен.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-16',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Масла могут помочь не только от облысения, но и в целом положительно повлиять на внешний вид волос' title='').image-desc__img
            figcaption.image-desc__desc Масла могут помочь не&nbsp;только от&nbsp;облысения, но и&nbsp;в&nbsp;целом положительно повлиять на&nbsp;внешний вид волос

          h3 Плоды карликовой пальмы
          p Со&nbsp;пальметто&nbsp;— маленькая пальма, эндемичная для субтропического юго-востока США. Экстракт ее плодов блокирует ДГТ и&nbsp;считается действенным природным средством при андрогенетическом облысении. Плоды пальметто насыщены жирными кислотами и&nbsp;фитостеринами, благодаря чему используются в&nbsp;традиционной и&nbsp;альтернативной медицине для лечения разных болезней. В&nbsp;ряде конкретных исследований экстракт этого растения использовался для лечения облысения по&nbsp;мужскому типу и&nbsp;показал впечатляющие результаты.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-zhenshchin-17',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Плоды карликовой пальмы' title='').image-desc__img
            figcaption.image-desc__desc Плоды карликовой пальмы

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Как отличить временное выпадение волос от начала алопеции?</h3>').par
            p Установить причину облысения может только врач после проведения тестов, ряда инструментальных и&nbsp;лабораторных исследований. Большинство состояний, связанных с&nbsp;потерей волос, носят обратимый характер.
          +accordionItem('<h3>Можно ли восстановить волосы после длительной алопеции?</h3>').par
            p При затяжных случаях алопеции, поражающей большие площади волосяного покрова, сложно восстановить былую густоту волос, но&nbsp;улучшить качество и&nbsp;плотность волосяного покрова можно.
          +accordionItem('<h3>Есть ли возрастные ограничения для хирургического вмешательства по восстановлению волос?</h3>').par
            p Минимальный возраст пациента для пересадки волос&nbsp;— 18&nbsp;лет. Но к&nbsp;20&nbsp;годам не&nbsp;всегда удается точно установить причины облысения, поэтому рекомендуемый возраст для операции&nbsp;— 25-55&nbsp;лет. У пожилых пациентов возможность определяется состоянием донорской зоны и&nbsp;наличием противопоказаний.
          +accordionItem('<h3>Могут ли витаминные добавки предотвратить выпадение волос?</h3>').par
            p Нет, если состояние не&nbsp;связано с&nbsp;дефицитными состояниями.
          +accordionItem('<h3>Как выбрать парик, чтобы он выглядел естественно?</h3>').par
            p Максимально естественно выглядят натуральные парики ручной работы, потому что каждая прядь к&nbsp;основе крепится вручную.


          h2 Источники
          ul.list-marked
            li Андрогенетическая алопеция: некоторые аспекты нарушений тканевого метаболизма сально-волосяного аппарата и&nbsp;современные подходы к&nbsp;их коррекции/ Самцов&nbsp;А.В., Божченко&nbsp;А.А.;
            li Диффузная алопеция и&nbsp;метод ее комплексной коррекции/Снарская&nbsp;Е.С., Гришина&nbsp;В.Б.;
            li Методы дифференциальной диагностики алопеций/ Ткачев&nbsp;В.;
            li Изготовление париков шаг за&nbsp;шагом/ Джин, Андерсон.

  block styles
    +style('inner')




