extends /blocks/layout/layout

include /blocks/accordion-item/accordion-item
include /blocks/img/img
include /blocks/rating-sum/rating-sum

block content
  -
    var imagesFolder = '/images/articles/kak-ubrat-zalysiny-u-muzhchin/'
  .container
    .content
      +block-wrap({'wrap':true}).news-list
        +block-wrap__item(9,9,9,6)
          include /blocks/article-header/article-header

          p С&nbsp;истончением или выпадением волос порой трудно справиться эмоционально. Тем не менее облысение можно держать под контролем, корректировать с&nbsp;помощью причесок и&nbsp;маскирующих лысину изделий. В&nbsp;статье рассказываем о&nbsp;причинах мужского облысения, возможных вариантах лечения и&nbsp;как убрать залысины на&nbsp;голове у&nbsp;мужчин.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-1',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Мужское облысение' title='').image-desc__img
            figcaption.image-desc__desc Мужское облысение


          h2 Причины мужского облысения
          h3 Генетическая предрасположенность
          p Облысение по&nbsp;мужскому типу&nbsp;— в&nbsp;первую очередь наследственное заболевание, поэтому наличие облысения в&nbsp;семейном анамнезе увеличить риск развития его развития у&nbsp;других членов семьи. Исследования показали, что на&nbsp;генетику приходится до&nbsp;80% риска развития андрогенетической алопеции.
          p Путь, по&nbsp;которому наследуемый ген вызывает облысение неясен, поскольку факторы окружающей среды также играют роль. Однако исследования показывают, что гены, связанные с&nbsp;потерей волос по&nbsp;мужскому типу, вызывают уменьшение размера волосяных фолликулов, которые со&nbsp;временем перестают воспроизводить волосяные стержни, что приводит к&nbsp;облысению.

          h3 Гормональные факторы
          p Мужское облысение напрямую связано с&nbsp;половыми гормонами и&nbsp;их производными, в&nbsp;частности с&nbsp;дигидротестостероном. Андрогены играют роль в&nbsp;мужском половом развитии и&nbsp;росте волос у&nbsp;людей обоих полов. Более высокие уровни андрогенов вызывают:
          ul.list-marked
            li укороченный цикл роста стержня;
            li рост более коротких и&nbsp;тонких&nbsp;(миниатюризированных) волосков;
            li задержка волосяного роста, замедляющая восстановление потерянных волос.
          p Генетика и&nbsp;андрогенные половые гормоны вместе становятся главной причиной андрогенетической алопеции. Вариации в&nbsp;определенных генах способны вызвать чрезмерную реакцию на&nbsp;андрогены, что затем приводит к&nbsp;выпадению волос. Было доказано, что вариация одного гена, в&nbsp;частности, гена AR, вызывает повышенную активность андрогенных рецепторов в&nbsp;волосяных фолликулах, хотя до&nbsp;конца не&nbsp;изучено, как именно это увеличивает риск выпадения волос.

          h3 Влияние стрессов и&nbsp;образа жизни
          p Стресс и&nbsp;беспокойство способствуют преждевременному переходу волосяных фолликулов в&nbsp;фазу покоя, известную как телогеновая. Состояние приводит к&nbsp;усиленному выпадению волос и&nbsp;уменьшению плотности волосяного покрова. Кроме того, стресс и&nbsp;беспокойство провоцируют сужение сосудов, что снижает приток крови к&nbsp;коже головы, лишая волосяные фолликулу питательных веществ. Хотя тревога напрямую не&nbsp;вызывает облысение, но&nbsp;усугубляет состояние у&nbsp;мужчин, генетически предрасположенных к&nbsp;выпадению волос.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-2',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Фазы роста волос' title='').image-desc__img
            figcaption.image-desc__desc Фазы роста волос

          h3 Образ жизни и&nbsp;внешние факторы
          ul.list-marked
            li Недостаток сна&nbsp;— это форма стресса, а&nbsp;стресс влияет на выпадение волос, нарушая цикл роста, так как стволовые клетки, необходимые для роста волос, зависят от&nbsp;биологических часов.
            li Воздух, загрязненный выхлопными газами, негативно влияет на&nbsp;образование белка&nbsp;(кератина)&nbsp;— строительного материала стержня, что приводит к&nbsp;ослаблению и&nbsp;повреждению волосяного покрова;
            li Пыль привлекает клещей, которые затем вызывают у&nbsp;людей аллергию, инфекции или воспаления кожи головы. Первым признаком этого является зуд кожи головы, хотя это не&nbsp;всегда. А&nbsp;поскольку симптомы настолько легкие, можно легко забыть о&nbsp;проблеме, это может спровоцировать выпадение волос.
            li Жесткая вода содержит большое количество минералов, таких как кальций, магний и&nbsp;железо, минералы, которые накапливаются на&nbsp;коже головы, разрушая волосяные фолликулы.
            li Табак и&nbsp;химические вещества в&nbsp;сигаретах повреждают волосяные луковицы и&nbsp;мешают здоровому росту волос. Токсины попадают к&nbsp;ним через кровоток, вызывая микровоспаления и&nbsp;фиброз, повреждающие фолликулы.
            li Диета с&nbsp;дефицитом питательных веществ, таких как железо, белок и&nbsp;витамины группы&nbsp;B, способствуют ломкости и&nbsp;выпадению волос.

          h3 Трихотилломания
          p Состояние, известное как расстройство выдергивания волос, представляет собой редкое заболевание, при котором человек регулярно выдергивает себе волосы, что приводит к&nbsp;их выпадению. Болезнь подпадает под категорию обсессивно-компульсивных расстройств, которые относятся к&nbsp;большому числу расстройств, характеризующихся повторяющимися мыслями и&nbsp;действиями, нарушающими повседневную жизнь.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-3',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Трихотилломания' title='').image-desc__img
            figcaption.image-desc__desc Трихотилломания


          h2 Виды алопеции
          h3 Андрогенетическая&nbsp;(АГА)
          p Это распространенный андрогенозависимый тип облысения, который формируется у&nbsp;лиц с&nbsp;генетической предрасположенностью. У&nbsp;мужчин, как правило, АГА начинается с&nbsp;лобно-теменной области. Скорость распространения сдерживается медикаментозно. Чем раньше обратиться за&nbsp;лечением, тем больше шансов отсрочить операцию по&nbsp;пересадке, так как полностью остановить облысение по&nbsp;мужскому типу медицине не&nbsp;под силу. Со&nbsp;2&nbsp;стадии уже показана трансплантация.

          h3 Диффузная
          p При диффузном типе облысения волосяные стержни истончаются так, что сквозь них виднеется кожа голова. Затрагивает всю площадь волосяного покрова, а&nbsp;не&nbsp;отдельные участки. Возникает при приеме токсичных лекарств, в&nbsp;результате естественного старения, стресса, дефицитных состояний и&nbsp;т.д. Последствия чаще обратимы.

          h3 Очаговая&nbsp;(гнездная)
          p Гнездная алопеция характеризуется внезапным появлением одного или нескольких округлых безволосых очагов. Зуд и&nbsp;боль в&nbsp;зоне облысения отсутствуют, кожа естественного цвета. Подобные симптомы появляются и&nbsp;исчезают неожиданно для пациента, порой без всякого лечения. Однако наблюдаются рецидивы. При тотальной стадии у&nbsp;мужчин выпадают волосы на лице, при универсальной&nbsp;— на теле. Причины возникновения очаговой алопеции до&nbsp;конца не&nbsp;изучены, поэтому специфического плана лечения нет.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-4',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Типы андрогенного облысения' title='').image-desc__img
            figcaption.image-desc__desc Типы андрогенного облысения

          h3 Себорейная алопеция
          p Данный тип облысения вызван болезненным состоянием кожи головы, а&nbsp;именно гиперфункцией сальных желез, деятельность которых нарушается из-за сбоев в&nbsp;работе нейроэндокринной и&nbsp;нервной систем. Есть данные, что себорейное облысение чаще встречается у&nbsp;мужчин. Себорея&nbsp;— дополнительный фактор-провокатор облысения, но&nbsp;не&nbsp;единственная причина выпадения волос.


          h2 Методы диагностики облысения
          h3 Трихоскопия
          p Это метод исследования кожи головы и&nbsp;волосяных фолликулов при многократном увеличении в&nbsp;30-60&nbsp;раз. Аппарат дерматоскоп позволяет лучше распознать морфологические структуры, невидимые при обычном рассмотрении. Исследование, например, помогает отличить рубцовую алопецию от&nbsp;нерубцовой, сделать прогноз очаговой алопеции и&nbsp;т.д.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-5',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Трихоскопия' title='').image-desc__img
            figcaption.image-desc__desc Трихоскопия

          h3 Анализы на&nbsp;гормоны и&nbsp;микроэлементы
          p Трихологические анализы крови позволяют оценить несколько факторов, связанных с&nbsp;выпадением волос.
          ul.list-marked
            li Уровень гормонов щитовидной железы&nbsp;(ЩЖ), так&nbsp;как недостаточная активность щитовидки или гиперактивность влияют на&nbsp;состояние волосяного покрова;
            li Уровень половых гормонов тестостерона, метаболизирующегося в&nbsp;ДГТ, который разрушает волосяные фолликулы;
            li Уровень железа и&nbsp;ферритина для выявления железодефицитных состояний;
            li Уровень витамина&nbsp;D, так&nbsp;как недостаток связан с&nbsp;аутоиммунитетом, ухудшая или вызывая аутоиммунные состояния выпадения волос, такие как очаговая алопеция;
            li Уровень витаминов&nbsp;В, связанных с&nbsp;облысением.


          h2 Современные методы лечения алопеции
          h3 Медикаментозное лечение
          p Когда выпадение волос вызвано болезнью, лечение основной причины позволяет восстановить волосяной покров. Прекращение приема лекарств или завершение курса лучевой терапии и&nbsp;химиотерапии часто обращает вспять облысение. В&nbsp;других случаях используют лекарства и&nbsp;дерматологические методы терапии.

          h4 Миноксидил
          p Препарат эффективен при облысении как по&nbsp;мужскому, так и&nbsp;по&nbsp;женскому типу, нанесение миноксидила на&nbsp;кожу головы стимулирует восстановление волосяного роста. Для улучшения проникновения лечебного состава перед нанесением рекомендуется распарить кожу голову. Чтобы стержень развился до&nbsp;терминальной стадии, стал толстым и&nbsp;крепким, миноксидил применяют минимум 3-4&nbsp;месяца. Когда развитие терминального волоса произошло, достигнутый результат сохраняется надолго.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-6',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Миноксидил' title='').image-desc__img
            figcaption.image-desc__desc Миноксидил

          h4 Финастерид
          p Это пероральный препарат, блокирующий выработку дигидротестостерона&nbsp;— гормона, нарушающего нормальное функционирование волосяного фолликула. Отпускается только по&nbsp;рецепту и&nbsp;обычно принимается один раз в&nbsp;день. Клинические исследования показали, что финастерид эффективен в&nbsp;замедлении прогрессирования облысения по&nbsp;мужскому типу. Однако потребуется несколько месяцев использования, прежде чем результаты станут видимыми. Возобновление роста волосяного роста наблюдается не&nbsp;у&nbsp;всех. Ряд мужчины испытывает побочные эффекты, такие как снижение полового влечения, эректильная дисфункция или болезненность груди.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-7',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Финастерид' title='').image-desc__img
            figcaption.image-desc__desc Финастерид
          p Важно отметить, что миноксидил и&nbsp;финастерид не&nbsp;являются 100&nbsp;% гарантией излечения АГА&nbsp;— как только лечение прекращается, выпадение волос может возобновиться.

          h4 Внутриочаговые кортикостероиды
          p Инъекции кортикостероидов назначают в&nbsp;случаях очаговой алопеции, когда облысение вызвано аутоиммунной дисфункцией. В&nbsp;ходе клинической процедуры дерматологи вводят препарат непосредственно под кожу пораженных участков кожи головы, чтобы стимулировать возобновление волосяного роста.

          h4 Противогрибковые препараты
          p Лечение опоясывающего лишая зависит от&nbsp;типа грибка, вызвавшего инфекцию. При трихофитоновой инфекции для перорального приема назначают тербинафин, итраконазол и&nbsp;флуконазол. Есть некоторые доказательства того, гризеофульвин эффективен против другого грибка&nbsp;— Microsporum. Применяется в&nbsp;форме шампуня.

          h4 Ингибиторы белков Янус-киназы
          p Блокируют сигнальные пути, вызывающие воспаление во&nbsp;время сверхактивного иммунного ответа. Ингибиторы JAK, одобренные для лечения очаговой алопеции, включают ритлецитиниб, руксолитиниб.

          h4 Терапия трихотилломании
          p При облысении, вызванном навязчивым выдергиванием или скручиванием волос&nbsp;(психическим нарушением), рекомендована когнитивно-поведенческая терапия, которая предполагает сосредоточение внимания на&nbsp;причинах развития неконтролируемых действий и&nbsp;работу над стратегиями регулирования нежелательного поведения. Медикаментозный вариант лечения&nbsp;— ингибиторы обратного захвата серотонина.

          h3 Физиотерапевтические методы
          h4 PRP-лечение волос
          p Плазмотерапия&nbsp;— эффективное нехирургическое лечение, которое применяют при облысении по&nbsp;мужскому типу за&nbsp;счет использования собственных тромбоцитов вашего организма для стимулирования роста волос. Исследования показали, что процедурам PRP под силу  увеличить количество волосяных фолликулов, толщину стержня и&nbsp;повысить густоту волосяного покрова. Замедляет или обращает вспять облысение по&nbsp;мужскому типу.
          p Лечение включает забор крови, как при стандартном анализе крови, выделение богатой тромбоцитами плазмы с&nbsp;помощью центрифуги. Затем обогащенная плазма вводится в&nbsp;кожу головы с&nbsp;помощью тонкой иглы, чтобы регенерировать волосяные фолликулы и&nbsp;стимулировать более естественный рост волос. Через 2–3&nbsp;месяца человек начинает замечать первые положительные результаты лечения.

          h4 Лазеротерапия
          p Это безопасное лечение с&nbsp;использованием лазерного света. Применяется для лечения всех форм выпадения волос. Лазерное лечение низкой интенсивности еще называют холодной лазерной терапией. Считается, что процедура увеличивает приток крови к&nbsp;коже головы и&nbsp;стимулирует метаболизм в&nbsp;катагенных или телогеновых фолликулах , что приводит к&nbsp;образованию анагенных волос, т.е.&nbsp;в&nbsp;фазе роста. Не&nbsp;установлены побочные эффекты. Процедура полностью безболезненна. Первые улучшения заметны через 1,5-3&nbsp;месяца.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-8',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Лазеротерапия' title='').image-desc__img
            figcaption.image-desc__desc Лазеротерапия

          h3 Трансплантация
          p Это хирургический метод лечения, при котором волосяные фолликулы, известные как донорский материал, изымаются из&nbsp;одной части головы пациента и&nbsp;вживляются в&nbsp;облысевшую зону&nbsp;— принимающая часть. Метод чаще используется для борьбы с&nbsp;облысением по&nbsp;мужскому типу. Трансплантаты берут на&nbsp;затылке&nbsp;— области, генетически устойчивой к&nbsp;воздействию дигидротестостерона. Изымают фолликулярные единицы двумя способами&nbsp;— поштучно специальной иглой с&nbsp;поверхности головы или с&nbsp;вырезанного на&nbsp;затылке лоскута кожи. Операцию проводят при условии, что у&nbsp;пациента достаточное количество волос в&nbsp;донорской зоне.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-9',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Пересадка волос по методу FUE' title='').image-desc__img
            figcaption.image-desc__desc Пересадка волос по&nbsp;методу FUE
          p Как и&nbsp;любое хирургическое вмешательство, метод сопровождается рисками и&nbsp;осложнениями. До&nbsp;10&nbsp;% пересадочного материала разрушается в&nbsp;ходе операции. Приживаемость составляет 85-95&nbsp;%, на&nbsp;конечный результат дополнительно влияет ряд сопутствующих факторов.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-10',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Пересадка волос: до и после' title='').image-desc__img
            figcaption.image-desc__desc Пересадка волос: до&nbsp;и&nbsp;после


          h2 Как убрать лысину мужчине другими способами
          p Видеть, как волосы становятся тонкими и&nbsp;редкими, замечать постепенное расширении области залысин, становится непростым испытанием для мужчин. К&nbsp;сожалению, быстрого решения проблемы облысения со&nbsp;100&nbsp;% гарантией нет. И&nbsp;человеку приходится искать варианты как убрать залысину, например, на&nbsp;макушке, на&nbsp;период восстановления волосяного покрова. При безуспешном лечении методы, маскирующие тонкие редкие пряди и&nbsp;проплешины, мужчины применяют на&nbsp;постоянной основе. Существует немало методов маскировки лысины, рассмотрим самый востребованный&nbsp;— парики.

          h3 Парики
          p Сегодня ношение париков из&nbsp;эстетической необходимости переросло в&nbsp;модную тенденцию. Парики и&nbsp;накладки используют для быстрой смены образа, маскировки результатов неудачной стрижки и&nbsp;т.д. Неоспоримое преимущество таких изделий&nbsp;— уложенные волосы, поэтому не&nbsp;надо тратить время на&nbsp;укладку и&nbsp;уход.
          figure.image-desc
            +img({
              name: 'kak-ubrat-zalysiny-u-muzhchin-11',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Современные парики очень сложно отличить от настоящих волос' title='').image-desc__img
            figcaption.image-desc__desc Современные парики очень сложно отличить от&nbsp;настоящих волос
          p Представленный ассортимент в&nbsp;Центре дизайна волос в&nbsp;Санкт-Петербурге предлагает большой выбор стилей, длины, структуры и&nbsp;цвета волос, материала изготовления. Убрать залысины на&nbsp;лбу или на&nbsp;висках у&nbsp;мужчин помогут натуральные, искусственные или смешанные парики. Надежное крепление гарантируют антискользящая полоска и&nbsp;резинка. В&nbsp;парике можно заниматься спортом и&nbsp;быть уверенным, что он останется на&nbsp;месте. Парики на&nbsp;бесцветной сетке невозможно отличить от&nbsp;собственной шевелюры. Накладки на&nbsp;переднюю часть уберут лобные залысины у&nbsp;мужчин.
          p Для максимального комфорта гостей примерку проводим в&nbsp;отдельных комнатах. Наши специалисты правдиво отвечают на&nbsp;вопросы, рассказывают о&nbsp;правилах ношения и&nbsp;ухода, чтобы парик прослужил долго.


          h2 Профилактика облысения
          ul.list-marked
            li Для поддержания роста волос важно адекватное питание. Биотин&nbsp;— это витамин&nbsp;B, который помогает организму преобразовывать пищу в&nbsp;энергию и&nbsp;способствует здоровью волос, кожи и&nbsp;ногтей, а&nbsp;коллаген&nbsp;– строительный материал стержня, поэтому сосредоточьтесь на&nbsp;продуктах, богатых белком.
            li Ищите способы уменьшить стресс и&nbsp;справиться с&nbsp;ним, будь то&nbsp;прогулка после ужина, медитация или физические упражнения.
            li Высыпайтесь, так&nbsp;как недостаток сна мешает стволовым клеткам выполнять свою работу, что в&nbsp;результате нарушает рост волос.
            li Используйте мягкие составы шампуней, щадящие виды окрашивания, минимизируйте использование термоприборов.


          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Какие витамины эффективны для укрепления волос?</h3>').par
            p Витамины группы&nbsp;В, витамины&nbsp;Д и&nbsp;А, цинк и&nbsp;железо, витамины&nbsp;С и&nbsp;Е.
          +accordionItem('<h3>Чем опасны народные методы лечения алопеции?</h3>').par
            p Тем, что уповая на&nbsp;волшебное действие травок, человек теряет время, так&nbsp;как предотвратить развитие АГА можно только медикаментозно.
          +accordionItem('<h3>Может ли неправильный уход ускорить процесс облысения?</h3>').par
            p Да, агрессивные моющие и&nbsp;укладочные средства, частое окрашивание, ежедневное использование фена и&nbsp;тугие прически ускоряют процесс облысения.
          +accordionItem('<h3>В каком возрасте чаще всего начинается алопеция?</h3>').par
            p АГА чаще развивается у&nbsp;мужчин среднего возрасты, но&nbsp;первые признаки фиксируются и&nbsp;у&nbsp;подростков. Очаговой алопеции в&nbsp;равной степени подвержены взрослые и&nbsp;дети.
          +accordionItem('<h3>Как избежать алопеции при генетической предрасположенности?</h3>').par
            p Не&nbsp;все люди с&nbsp;предрасположенностью к&nbsp;облысению теряют волосы. Это Мультикомплексная проблема, на&nbsp;которую влияют факторы здоровья, окружающей среды, образа жизни и&nbsp;т.д. Избегая провоцирующих факторов можно предотвратить или отстрочить появление признаков облысения.


          h2 Источники
          ul.list-marked
            li Эффективность лазерной терапии/ Москвин&nbsp;С.В.;
            li Патогенез андрогенетической алопеции: современное состояние проблемы/ Самцов&nbsp;А.В., Божченко&nbsp;А.А.;
            li Андрогенная алопеция: патогенетические механизмы и&nbsp;подходы к&nbsp;лечению/ Олисова&nbsp;О.Ю., Кочергин&nbsp;Н.Г., Вертиева&nbsp;Е.Ю.

  block styles
    +style('inner')

