extends /blocks/layout/layout

include /blocks/accordion-item/accordion-item
include /blocks/img/img
include /blocks/rating-sum/rating-sum

block content
  -
    var imagesFolder = '/images/articles/kak-skryt-oblysenie-u-zhenshchin/'
  .container
    .content
      +block-wrap({'wrap':true}).news-list
        +block-wrap__item(9,9,9,6)
          include /blocks/article-header/article-header

          p Хотя женское облысение встречается не&nbsp;так часто, как мужское, состояние от&nbsp;этого не&nbsp;менее разрушительное. Волосы&nbsp;— важный компонент личности, особенно женской. Мужчинам повезло чуть больше, ведь быть лысым мужчиной социально приемлемо. Для представительниц прекрасного пола такого общественного признания еще нет. Эта гендерная предвзятость наносит ущерб самооценке женщин, столкнувшихся с&nbsp;облысением. Только гибкое понимание красоты, которое бросает вызов единой эстетике, помогает предотвратить внутреннее выгорание и&nbsp;вернуть уверенность в&nbsp;себе.
          p В&nbsp;статье рассматриваем варианты лечения и&nbsp;маскировки лысины у&nbsp;женщин, а&nbsp;начнем с&nbsp;причин, провоцирующих потерю волос.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-1',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Стадии женского облысения' title='').image-desc__img
            figcaption.image-desc__desc Стадии женского облысения


          h2 Причины поредения волос
          h3 Гормональные нарушения
          p Ряд гормонов влияет на&nbsp;состояние волосяного покрова женщин. Например, высокое содержание стероидных гормонов в&nbsp;крови приводит к&nbsp;диффузному истончению волос на&nbsp;голове. Важно помнить, что гормональный дисбаланс, не&nbsp;связанный с&nbsp;менопаузой, иногда выступает как симптом серьезных патологий. Например, поликистоз яичников также вызывает облысение. Подобным образом болезни или опухоли щитовидной железы становятся причиной гормонального дисбаланса, а&nbsp;значит и&nbsp;поредения волосяного покрова.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-2',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Эндокринная система осуществляет регуляцию функций внутренних органов гормонами' title='').image-desc__img
            figcaption.image-desc__desc Эндокринная система осуществляет регуляцию функций внутренних органов гормонами


          h3 Генетическая предрасположенность
          p К&nbsp;сожалению, женское облысение является доказанным генетическим заболеванием. Хотя еще нет полного понимания всех генов, провоцирующих раннее выпадение волос, у&nbsp;женщины больше шансов облысеть, если другие женщины в&nbsp;семье страдали алопецией.


          h3 Стрессы
          p К&nbsp;провоцирующим женское облысение факторам относятся периоды интенсивного или продолжительного стресса, поскольку состояние нарушает обменные процессы и&nbsp;тормозит выработку гормонов, влияющих на&nbsp;густоту волосяного покрова.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-3',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Стресс' title='').image-desc__img
            figcaption.image-desc__desc Стресс


          h3 Очаговая алопеция
          p Это аутоиммунное состояние, при котором организм нападает на&nbsp;собственные волосяные луковицы, что приводит к&nbsp;затуханию их жизнедеятельности и&nbsp;облысению. У&nbsp;болезни непредсказуемое течение и&nbsp;исход, до&nbsp;сих&nbsp;пор нет действенной стратегии лечения. Волосяной покров может спонтанно восстановиться и&nbsp;также внезапно выпасть вновь.


          h3 Дефицит питательных веществ
          p Дефицит питательных веществ часто провоцирует облысение или ломкость и&nbsp;тусклость волос. Дефицит железа, например, становится серьезной причиной облысения, особенно у&nbsp;женщин с&nbsp;обильными менструациями. Провоцируют дефицит питательных веществ строгие диеты или болезни ЖКТ.


          h2 Методы маскировки лысины


          h3 Изменение прически и&nbsp;укладки
          h4 Короткая стрижка
          p Выпавшие волосы не&nbsp;всегда легко вернуть, но&nbsp;можно уложить так, чтобы прическа выглядела объемной, а&nbsp;зоны облысения оставались незаметными. Проверенный метод, который помогает скрыть редкие волосы у&nbsp;женщин,&nbsp;— короткая стрижка. Более того, короткая прическа освобождает кожу головы от&nbsp;тяжести длинных локонов, позволяет избежать чрезмерного натяжения и&nbsp;выпадения ослабленных волос.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-4',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Короткая стрижка' title='').image-desc__img
            figcaption.image-desc__desc Короткая стрижка

          p Боб&nbsp;— лучшая женская стрижка, скрывающая залысины, так&nbsp;как многослойность создает иллюзию густоты волос. Для укладки боб не&nbsp;стоит использовать много косметических продуктов, чтобы не&nbsp;утяжелять пряди.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-5',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Вариант укладки стрижки боб' title='').image-desc__img
            figcaption.image-desc__desc Вариант укладки стрижки боб

          p Пикси&nbsp;— изящная и&nbsp;женственная стрижка, демонстрирующая объем, текстуру и&nbsp;индивидуальность, маскирующая тонкие и&nbsp;редкие волосы. Текстурированная лохматая пикси с&nbsp;рыхлыми слоями создает легкий и&nbsp;небрежный образ. Стрижка с&nbsp;андеркатом и&nbsp;удлиненной челкой&nbsp;— отличный выбор для дерзкого рокерского образа, скрывающего проплешины на&nbsp;висках и&nbsp;фронтальной зоне.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-6',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Стрижка пикси' title='').image-desc__img
            figcaption.image-desc__desc Стрижка пикси

          p Многослойна шторная челка уравновешивает черты лица, придает объем прическе, привлекает внимание к&nbsp;глазам, скрывая залысины на&nbsp;лбу и&nbsp;высокую линию роста. Тонкая, кокетливая челка, касающаяся бровей, уже не&nbsp;первый год держится на&nbsp;пике популярности.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-7',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Шторная челка' title='').image-desc__img
            figcaption.image-desc__desc Шторная челка

          p Андеркат&nbsp;— выбритая боковая часть и/или затылок, подчеркивающий волосы на&nbsp;макушке, помогающий скрыть залысины на&nbsp;висках. У&nbsp;стрижки разные варианты исполнения и&nbsp;укладки, что делает её подходящей для любого возраста и&nbsp;типажа.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-8',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Женская стрижка андеркат' title='').image-desc__img
            figcaption.image-desc__desc Женская стрижка андеркат

          p Начес&nbsp;— действенный способ скрыть лысину на&nbsp;макушке. Передние пряди начесываются, укладываются вверх и&nbsp;назад, прикрывая проблемную зону. В&nbsp;завершении прическу фиксируют.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-9',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Начес у музыкальной исполнительницы Кейко Линн' title='').image-desc__img
            figcaption.image-desc__desc Начес у&nbsp;музыкальной исполнительницы Кейко Линн

          p Длинные волосы, редеющие на&nbsp;макушке, с&nbsp;мягкими прядями, обрамляющими лицо, отвлекают внимание от&nbsp;макушки. Дополнительная длина дает больше возможностей для создания причесок, помогающих спрятать лысину на&nbsp;голове у&nbsp;девушки, таких как косы, низкие пучки и&nbsp;хвостики.


          h3 Использование париков и&nbsp;других постижерных изделий
          h4 Парики
          p Парики помогают скрыть залысины у&nbsp;женщин, результат неудачного преображения или быстро изменить образ. Это лучший способ справиться с&nbsp;постоянным выпадением волос без хирургического вмешательства. Парики экономят время на&nbsp;укладке, что очень важно при современном ритме жизни. Изготавливаются из&nbsp;натуральных волос и&nbsp;синтетического волокна. Бывают парики из&nbsp;смешанных материалов. Надеваются перед выходом из&nbsp;дома.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-10',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Парик Ellen Wille' title='').image-desc__img
            figcaption.image-desc__desc Парик Ellen Wille
          ul.list-marked
            li Натуральные парики&nbsp;— это естественность и&nbsp;органичность. Даже при ближайшем рассмотрении сложно заподозрить, что это парик на&nbsp;голове. Допустима термоукладка. Базовый уход включает мытье, кондиционирование и&nbsp;сушку. Срок службы до&nbsp;5&nbsp;лет.
            li Искусственные парики&nbsp;— бюджетный выбор. Внешне напоминают натуральные волосы. Укладка остается стабильной при любой погоде. Уход включает стирку и&nbsp;проветривание. Изделиям противопоказаны высокие температуры. Срок службы до&nbsp;2&nbsp;лет.
          p Парики изготавливают на&nbsp;тканной, сетчатой основе или вручную. Сетчатая основа, имитирующая цвет кожи, создает впечатление невидимой фронтальной линии. Волосы в&nbsp;сетку вплетаются вручную. Это самый комфортный в&nbsp;носке вариант.

          h4 Накладки и&nbsp;шиньоны
          p Это постижерные изделия для точечной фиксации на&nbsp;голове. Чаще используются, чтобы скрыть лысину на&nbsp;голове у&nbsp;женщины, добавить объем истонченным и&nbsp;редким прядям. Накладки бывают натуральными, искусственными и&nbsp;смешанными. Шиньоны изготавливают из синтетических материалов. Накладные изделия смотрятся естественно, крепятся быстро, легко моделируются, не&nbsp;ощущаются на&nbsp;голове. С&nbsp;их помощью образ можно менять хоть дважды в&nbsp;день. Накладки подразумевают крепление фиксирующей лентой и&nbsp;заколками, а&nbsp;шиньоны&nbsp;— клипсами, заколками, крабиками и&nbsp;резинками.
          p Накладкой на&nbsp;переднюю часть головы легко скрыть залысины на&nbsp;лбу, также есть изделия, маскирующие широкий пробор, проплешину на&nbsp;макушке. С&nbsp;помощью шиньонов удлиняют прическу, делают бабетту, хвост и&nbsp;косу.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-11',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Шиньоны смотрятся очень естественно' title='').image-desc__img
            figcaption.image-desc__desc Шиньоны смотрятся очень естественно

          h4 Системы замещения волос
          p Системы возвращают густые и&nbsp;здоровые волосы без операции. Системы выглядят естественно&nbsp;— ни&nbsp;визуально ни&nbsp;на&nbsp;ощупь изделия не&nbsp;отличить от&nbsp;родных волос. Подходят женщинам с&nbsp;полным или частичным облысением. Реплейсменты изготавливаются из&nbsp;натуральных прядей, прикрепленных к&nbsp;сетчатой основе, которая позволяет коже головы дышать.
          p Система замещения дает свободу выбора&nbsp;— вьющиеся, прямые, короткие или длинные прически. Натуральные волосы можно красить и&nbsp;стричь. Держатся прочно и&nbsp;не&nbsp;мешают активному образу жизни, например, занятиям спортом, посещению бассейна или сауны. Фиксация гипоаллергенным клеем гарантирует комфортное ношение реплейсмента до&nbsp;2&nbsp;месяцев, после чего изделие опять крепится. Долговечность системы зависит от&nbsp;правильного ухода.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-12',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Система волос' title='').image-desc__img
            figcaption.image-desc__desc Система волос

          h4 Салон париков &quot;Центр дизайна волос&quot; в&nbsp;Санкт-Петербурге
          ul.list-marked
            li Продаем парики, шиньоны и&nbsp;накладки волос с&nbsp;2002 года;
            li Представленный в&nbsp;магазине ассортимент париков помогает женщинам справиться с&nbsp;временным и&nbsp;постоянным облысением;
            li У&nbsp;каждого парика десятки оттенков с&nbsp;разной структурой волос;
            li Заботимся о&nbsp;конфиденциальности гостей, поэтому оборудовали отдельные примерочные;
            li Предусмотрена доставка по&nbsp;России.


          h3 Камуфляжные средства
          p Если требуется простой, быстрый и&nbsp;естественный способ замаскировать лысину женщине, пришло время изучить камуфляжные продукты. Представленные варианты используют только как временное решение проблемы, не&nbsp;требующее профессиональных знаний. В&nbsp;состав таких продуктов входят натуральные и&nbsp;искусственные волокна, минеральные красители, гарантирующие естественный эффект. Средства подходят при редких волосах и&nbsp;начальной стадии облысения. Наносятся на&nbsp;чистые волосы, смываются при мытье головы.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-13',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Загуститель волос Toppik' title='').image-desc__img
            figcaption.image-desc__desc Загуститель волос Toppik

          h4 Аэрозоль
          p Достаточно распылить средство на&nbsp;проблемные зоны, растушевать и&nbsp;расчесать, чтобы мгновенно получить более густую шевелюру. Обеспечивает полное покрытие больших объемов волосяного покрова за&nbsp;короткое время. Возможен эффект маскировки седых волосков. Дополнительно фиксирует полученный результат.

          h4 Пудра
          p Средство для прикорневой маскировки лысины у&nbsp;женщин. Скрывает широкий пробор, залысины на&nbsp;лбу и&nbsp;просвечивающуюся сквозь волосы кожу, отросшие после окрашивания корни. Наносится влажным спонжем на&nbsp;волосяные стержни и&nbsp;кожу головы. Пудра, как правило, устойчива к&nbsp;поту и&nbsp;порывам ветра. Не&nbsp;пачкает одежду.

          h4 Карандаш
          p У&nbsp;камуфлирующего карандаша водостойкая формула, поэтому результат достойно выдерживает контакт с&nbsp;потом и&nbsp;влагой. Удобный формат, чтобы брать с&nbsp;собой на&nbsp;работу, в&nbsp;путешествие, упрощает коррекцию маскировки. В&nbsp;состав часто добавляют растительные экстракты.


          h3 Трихопигментация
          p Это форма косметической татуировки, которая маскирует залысины, восстанавливает переднюю линию роста. Микропигментация подразумевают нанесение чернил на&nbsp;кожу головы с&nbsp;помощью техники микроблейдинга. Цель процедуры в&nbsp;том, чтобы создать иллюзию большего количества волос в&nbsp;определенной области. Процесс аналогичен другим перманентным косметическим решениям, таким как перманентный макияж. Этот простой способ&nbsp;— хорошая альтернатива для тех, кто не&nbsp;хочет использовать пероральные лекарства от&nbsp;выпадения волос или делать операцию по&nbsp;пересадке.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-14',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Трихопигментация' title='').image-desc__img
            figcaption.image-desc__desc Трихопигментация

          h4 Различия между трихопигментацией и&nbsp;татуировкой
          ul.list-marked
            li Игла для микропигментации тоньше, что напоминает процесс микроблейдинга. Тонкая игла гарантирует точное нанесение красителя для имитации присутствия на&nbsp;голове крошечных волосяных фолликулов.
            li Используются органические чернила, что снижает риск побочных реакций и&nbsp;позволяет лучше подобрать цвет к&nbsp;естественному оттенку волос человека.
            li Краситель не&nbsp;проникает в&nbsp;кожу так глубоко, как краска для татуировок, что помогает сохранить форму чернил и&nbsp;желаемый контур.


          h3 Головные уборы
          p При частичном или полном облысении женщины часто начинают носить головные уборы, чтобы скрыть проблемные зоны. Косынки, банданы, шляпы, кепки и&nbsp;шарфы выбирают из&nbsp;натуральных дышащих материалов. Избегают тесных головных уборов, вызывающих ненужное давление и&nbsp;трение. Головной убор дополнительно защищает голову от&nbsp;палящего солнца и&nbsp;мороза, которые  могут усугубить состояние ослабленных фолликулов. Шляпы с&nbsp;дополнительным объемом создают эффект заправленных внутрь волос. Платок добавляет изюминку как повседневному, так и&nbsp;образу на&nbsp;выход.


          h2 Советы по&nbsp;уходу за&nbsp;волосами
          h3 Питание для укрепления волос
          p Волосяные фолликулы состоят из&nbsp;быстро делящихся клеток. Именно такое деление клеток вызывает рост стержней. Микронутриенты, содержащиеся в&nbsp;пище, дают волосковым клеткам энергию и&nbsp;молекулярные строительные блоки, необходимые для роста волос.
          p Недостаток питательных веществ в&nbsp;рационе негативно влияет как на&nbsp;структуру, так и&nbsp;на&nbsp;волосяной рост. Исследования показали, что недостаток витаминов и&nbsp;минералов способствует развитию разных состояний, вызывающих облысение.

          h4 Основные питательные вещества
          ul.list-marked
            li Белок. Волосы в&nbsp;основном состоят из&nbsp;белка кератина, поэтому организм нуждается его в&nbsp;изобилии. Содержится в&nbsp;мясе, рыбе, молочных продуктах, яйцах.
            li Биотин метаболизирует аминокислоты&nbsp;— строительные блоки белка. Биотином богаты бобовые и&nbsp;субпродукты.
            li Железо важно для здорового кровоснабжения фолликулов. Больше всего содержится в&nbsp;мясе, яйцах и&nbsp;рыбе.
            li Витамин&nbsp;С помогает организму усваивать железо, улучшая кровообращение. Цитрусовые, черная смородина, красные сладкий перец&nbsp;— кладезь витамина&nbsp;С.
            li Жирные кислоты омега-3 производят масла, которые сохраняют волосы и&nbsp;кожу головы увлажненными. Содержится в&nbsp;скумбрии, лососе, красной и&nbsp;черной икре, мидиях и&nbsp;других морепродуктах.
            li Цинк необходим для синтеза белка и&nbsp;деления клеток в&nbsp;волосяных фолликулах. Цинком богаты отруби, фрукты, овощи и&nbsp;крупы.
            li Витамин&nbsp;Е. Антиоксидантные свойства витамина&nbsp;Е уменьшают окислительный процесс, защищая волосяные фолликулы. Содержится в&nbsp;маслах, треске, сельди.


          h3 Наружные средства для стимуляции фолликулов
          p Миноксидил расширяет кровеносные сосуды, увеличивает приток крови, и&nbsp;связывается со&nbsp;специфическими ионными каналами волосяных фолликулов. Расширение кровеносных сосудов снижает сопротивление, что дополнительно снижает кровяное давление. Это помогает увеличить приток кислорода и&nbsp;питательных веществ к&nbsp;волосяным фолликулам. Препарат также стимулирует выработку фактора роста эндотелия сосудов, увеличивая тем самым приток крови к&nbsp;волосяным фолликулам.


          h2 Современные методы лечения алопеции

          h3 Медицинские препараты
          p Если облысение по&nbsp;женскому типу вызвано гормональным дисбалансом, лучший способ решить проблему&nbsp;— сбалансировать гормоны. Для этого врач назначает препараты, блокирующие перепроизводство андрогенов, ответственных за&nbsp;андрогенную алопецию.

          h3 Плазмотерапия
          p Терапия обогащенной тромбоцитами плазмой&nbsp;— медицинская процедура, показавшая высокую продуктивности при лечении алопеции. Обогащенная тромбоцитарным факторами роста плазма пациента инъекционно вводится под кожу для укрепления и&nbsp;стимуляции фолликулов, улучшения структуры волосяных стержней. Процедура работает за&nbsp;счет активного притока крови к&nbsp;коже головы.

          h3 Низкоинтенсивная лазерная терапия
          p Световой луч улучшает обменные процессы в тканях, ускоряется рост и деление клеток, приток кислорода к тканям. В результате прилива крови к фолликулам возобновляется рост волосяного покрова. Процедура безболезненна, улучшения наблюдаются через 6-12 недель лечения.

          h3 Пересадка волос
          p Процедура проводится под местной анестезией. Сначала бреется донорская зона на&nbsp;затылке для забора волосяных фолликулов из выбритого участка. Когда собрано достаточное количество пересадочного материала, фолликулярные единицы имплантируют в&nbsp;области истончения или облысения. Приемная зона не&nbsp;бреется. Фронтальная линия&nbsp;– самая распространенная зона для трансплантации у&nbsp;женщин, так как истончается из-за стресса и&nbsp;генетических причин.
          figure.image-desc
            +img({
              name: 'kak-skryt-oblysenie-u-zhenshchin-15',
              path: imagesFolder,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt='Пересадка волос до/после' title='').image-desc__img
            figcaption.image-desc__desc Пересадка волос до/после


          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Как скрыть лысину женщине после химиотерапии?</h3>').par
            p Потеря волосяного покрова после химиотерапии обратима. Рост возобновится после завершения лечения. На&nbsp;этот период лучше воспользоваться головными уборами, париками и&nbsp;системами замещения волос.
          +accordionItem('<h3>Как быстро определить причину алопеции?</h3>').par
            p Оперативно установить причину облысения под силу только врачу, который для постановки диагноза проводит диагностические и&nbsp;лабораторные исследования.
          +accordionItem('<h3>Может ли стресс быть единственной причиной алопеции?</h3>').par
            p Да, поскольку во&nbsp;время стресса в&nbsp;организме запускается цепочка патологических процессов, провоцирующих выпадение волос. Но&nbsp;чаще облысение вызывает совокупность провоцирующих факторов.
          +accordionItem('<h3>Как выбрать парик, который не будет вызывать дискомфорт?</h3>').par
            p Максимальный комфорт гарантируют натуральные парики на&nbsp;сетчатой основе.
          +accordionItem('<h3>Можно ли использовать камуфляжные средства ежедневно?</h3>').par
            p Да, у&nbsp;камуфляжа безопасный гипоаллергенный состав.


          h2 Источники
          ul.list-marked
            li Выпадение волос: распространенные причины и&nbsp;лечение/&nbsp;Грант Филлипс&nbsp;Т., Пол&nbsp;Сломиани&nbsp;В., Эллисон&nbsp;Р.;
            li Диффузная алопеция. Методическое пособие/&nbsp;Баткаев&nbsp;Э.А., Галлямова&nbsp;Ю.А., Хассан Аль-Хадж Халед;
            li Сочетанная лазерная терапия алопеции/&nbsp;Рязанова&nbsp;Е.А., Москвин&nbsp;С.В.;
            li Сложный пациент трихолога. Руководство по&nbsp;эффективному лечению алопеций и&nbsp;сопутствующих заболеваний/&nbsp;Р.Трюб;
            li Изготовление шиньонов, париков и&nbsp;прически из них/&nbsp;Коваленко&nbsp;И.В.

  block styles
    +style('inner')





