extends /blocks/layout/layout
include /blocks/img/img
include /blocks/rating-sum/rating-sum
include /blocks/article-info/article-info
include /blocks/slider/slider

block content
  -
    var imagesFolder = '/images/polnyy-gid-po-vyboru-parika/'
  .container
    .content
      h1 Полный гид по выбору парика
      +block-wrap({'wrap':true}).news-list
        +block-wrap__item(9,9,9,6)
          include /blocks/article-header/article-header

          p Когда у&nbsp;человека возникает мысль: хочу парик, появляются вопросы, объединенные общей тематикой: как правильно выбрать парик? Давайте разбираться.

          h2 Как выбрать парик: практические рекомендации
          p Первый критерий выбора&nbsp;&mdash; материал волос. В&nbsp;соответствии с&nbsp;этим выделяют виды париков: натуральные, искусственные и&nbsp;смешанные. 
          p Натуральные изделия создают из&nbsp;натуральных волос славянского типа, искусственные&nbsp;&mdash; из&nbsp;канекалона, а&nbsp;смешанные&nbsp;&mdash; из&nbsp;натуральных и&nbsp;термостойких искусственных волос. Как выглядит парик из&nbsp;канекалона? Натурально: блеск волос естественный, они прочные, легкие (легче натуральных волос в&nbsp;8&nbsp;раз), служат дольше и&nbsp;сохраняют форму. 
          p Поэтому самые хорошие парики не&nbsp;обязательно должны быть натуральными. Все зависит от&nbsp;цели, с&nbsp;какой вы&nbsp;их&nbsp;выбираете.
          p Выбор парика зависит и&nbsp;от&nbsp;других критериев. Про парики многое скажут такие характеристики: 
          +list-marked(['размер,','длина,','стрижка и&nbsp;стиль,','цвет,','структура,','основа,','бренд.'])
          
          h2 Как подбирать парик по&nbsp;каждому критерию?

          h3 Выбор по&nbsp;размеру
          .image-float_right
            +image(imagesFolder+'measure.png','Выбор парика по размеру')
          p Хороший парик должен сидеть на&nbsp;голове комфортно, а&nbsp;значит, соответствовать по&nbsp;размеру. Размер шапки определяют измерением окружности головы. 
          p Какие бывают парики по&nbsp;размеру:
          +list-marked([
            'маленькие&nbsp;&mdash; 52-54&nbsp;см (подходят детям, женщинам с&nbsp;маленькой головой);',
            'стандартные&nbsp;&mdash; 55-57&nbsp;см (женские);',
            'большие&nbsp;&mdash; 58-60&nbsp;см (мужские).'
          ])
          p Важно: если большинство моделей вам малы или велики&nbsp;&mdash; выбирайте парики нестандартного размера. 

          h3 Выбор по&nbsp;длине
          p Бывает 3&nbsp;длины париков:
          +list-marked([
            'короткие&nbsp;&mdash; до&nbsp;25&nbsp;см;',
            'средние&nbsp;&mdash; от&nbsp;26&nbsp;до&nbsp;35&nbsp;см;',
            'длинные&nbsp;&mdash; более 35&nbsp;см.'
          ])
          .gallery
            .gallery__item
              +image-desc(imagesFolder + 'length-short.jpg', 'Hit look&nbsp;&mdash; 20&nbsp;сантиметров', 'Hit look - 20 сантиметров')
            .gallery__item
              +image-desc(imagesFolder + 'length-middle.jpg', 'Flirt Look&nbsp;&mdash; 30&nbsp;сантиметров', 'Flirt Look - 30 сантиметров')
            .gallery__item
              +image-desc(imagesFolder + 'length-long.jpg', 'Noble look&nbsp;&mdash; 60&nbsp;сантиметров', 'Noble look -  60 сантиметров')


          h3 Типы париков по&nbsp;стрижке и&nbsp;стилю
          p Очень удобное решение&nbsp;&mdash; выбрать парик с&nbsp;готовой прической. Изделие не&nbsp;надо будет дополнительно укладывать или делать новые прически. Для этого достаточно выбрать парик по&nbsp;стилю/прическе:
          +list-marked([
            'Вечерний (свадебные, выпускные, определенные классические прически).',
            'Деловой (строгие и&nbsp;сдержанные линии в&nbsp;прическах).',
            'Повседневный (с&nbsp;обычной и&nbsp;простой укладкой).',
            'Романтический (прически с&nbsp;локонами, волнами, чаще на&nbsp;длинных волосах).',
            'Элегантный (стильные прически).',
            'Спортивный (удобные и&nbsp;простые прически, обычно на&nbsp;коротких волосах).'
          ])
          .gallery
            .gallery__item
              +image-desc(imagesFolder + 'styles-catherine.jpg', 'Catherine – вечерний стиль')
            .gallery__item
              +image-desc(imagesFolder + 'styles-nebraska.jpg', 'Nebraska – деловой стиль')
            .gallery__item
              +image-desc(imagesFolder + 'styles-flair.jpg', 'Flair - повседневный стиль')
            .gallery__item
              +image-desc(imagesFolder + 'styles-naomi.jpg', 'Naomi - романтический стиль')
            .gallery__item
              +image-desc(imagesFolder + 'styles-splendid.jpg', 'Splendid - элегантный стиль')
            .gallery__item
              +image-desc(imagesFolder + 'styles-award.jpg', 'Award - спортивный стиль')
          

          h3 Какой парик лучше купить по&nbsp;цвету?
          p Оттенок парика подбирают по&nbsp;цвету кожи, глаз, возрасту и&nbsp;желаемому эффекту.
          p В&nbsp;нашем салоне париков вы&nbsp;можете подобрать натуральные оттенки, волосы с&nbsp;модными эффектами и&nbsp;креативные цвета. Для этого надо посетить наш шоу-рум, примерить изделия. Если вы&nbsp;живете не&nbsp;Петербурге, то&nbsp;выбор можно сделать так: зайти в&nbsp;любой салон красоты, подобрать оттенок по&nbsp;образцам Estel (они совпадают с&nbsp;нашими), сообщить номер цвета нам, мы&nbsp;подберем подходящие парики. Если вы&nbsp;не&nbsp;проживаете в&nbsp;СПб, пришлите нам прядь ваших волос, волос вашего парика или фотографии оттенка волос, сделанные при разном освещении.


          h3 Выбор по&nbsp;структуре
          p Описание парика на&nbsp;сайте обязательно содержит информацию о&nbsp;структуре. Бывает 3&nbsp;структуры изделий:
          +list-marked(['кудрявые,','волнистые,','прямые. '])
          p Важно понимать, что изменить структуру нельзя, поэтому сразу определитесь, какой вариант подойдет больше.
          .gallery
            .gallery__item
              +image-desc('/images/structure/structure-1.jpg', 'Прямые волосы')
            .gallery__item
              +image-desc('/images/structure/structure-2.jpg', 'Волнистые волосы')
            .gallery__item
              +image-desc('/images/structure/structure-3.jpg', 'Кудрявые волосы')

          h3 Выбор основы
          p Внешний вид парика определяется основой&nbsp;&mdash; шапочкой, на&nbsp;которой зафиксированы волосы.
          p Монофиламент, имитирующий кожу головы, тонкая тюль (отвечает за&nbsp;легкость изделия), ручная работа (каждый волосок навязываются вручную), невидимая сетка вдоль линии роста волос&nbsp;&mdash; все это делает парик незаметным, создает эффект, словно волосы растут из&nbsp;вашей головы.
          p Меньшей естественностью обладают парики, созданные машинным способом: заметные трессы, невозможность изменить пробор и&nbsp;другие нюансы&nbsp;&mdash; на&nbsp;все это надо будет обратить внимание при выборе.
          +youtube-responsive('hTFSB59jbyc', 'Как происходит выбор париков: видео')


          h3 По&nbsp;бренду
          p В&nbsp;нашем магазине представлены парики двух брендов: Ellen Wille и&nbsp;NJ&nbsp;Creation.
          
          h4 Парики Ellen Wille
          .image-float_left
            +image('/bitrix/templates/.default/images/ellenwillelogo.png','ellen wille')
          p Марку основала Еллен Вилле, сделав из&nbsp;любимого дела революционный прорыв на&nbsp;рынке париков. Каждое изделие уникально, воплощает полувековые традиции качества. Главные преимущества париков этого бренда: комфортное ношение, невидимая фронтальная линия, естественный оттенок волос у&nbsp;корней и&nbsp;естественная укладка. 
          p Коллекции Ellen Wille состоят из&nbsp;натуральных и&nbsp;искусственных париков. Натуральные парики созданы из&nbsp;100% волос европейского типа, по&nbsp;структуре напоминают славянские, продаются по&nbsp;доступной стоимости. Искусственные&nbsp;&mdash; визуально на&nbsp;90% схожи с&nbsp;натуральными волосами, с&nbsp;естественным блеском, не&nbsp;теряют форму и&nbsp;вид в&nbsp;дождь, снег, на&nbsp;море и&nbsp;в&nbsp;бассейне, ухаживать за&nbsp;ними легко.

          h4 Парики NJ&nbsp;Creation
          .image-float_left
            +image('/bitrix/templates/.default/images/njlogo.png','nj creation')
          p В&nbsp;коллекциях представлены разные модели, но&nbsp;особое внимание производитель уделяет надежным в&nbsp;использовании, безопасным парикам, предназначенным для людей, страдающих от&nbsp;облысения. 
          p Преимущества изделий NJ&nbsp;Creation&nbsp;&mdash; запатентованные разработки Modulcap и&nbsp;Novicap Liberty. Modulcap&nbsp;&mdash; специальные строки, которые регулируют парик по&nbsp;размеру, в&nbsp;результате изделие идеально садиться по&nbsp;форме головы. Novicap Liberty&nbsp;&mdash; концепция, которая позволяет отказаться от&nbsp;фиксации парика лентой или клеем. Изделие надежно и&nbsp;легко фиксируется следующим образом: по&nbsp;всему контуру парика распределены полиуретановые полоски, чувствительные к&nbsp;температуре кожи: расширяются и&nbsp;прилипают к&nbsp;ней. 
          p Погрузитесь в&nbsp;приятное занятие&nbsp;&mdash; выбор париков. Перейдите в&nbsp;наш каталог. Здесь есть фильтр, который облегчит выбор по&nbsp;вашим личным предпочтениям. В&nbsp;меню слева выберите тип, длину, цвет, структуру волос, стрижку и&nbsp;стиль, если это для вас важно. Также можно выбрать дополнительные критерии: размер, производителя и&nbsp;название коллекции, материал, основу парика. После отметки всех параметров, нажмите кнопку &laquo;Показать&raquo;. Если какие-то критерии нужно сменить, нажмите &laquo;Сбросить&raquo;, и&nbsp;повторите действия.
          
          +block-wrap({'wrap':true})
            +block-wrap__item(6,6,6,6).news-detail_share
              h2 Поделиться
              <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
              <script src="https://yastatic.net/share2/share.js"></script>
              <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
            +block-wrap__item(6,6,6,6)
              h2 Оценить статью
              .rating
                .rating__message Ваша оценка #[span.rating__vote 0]/5
                input(type="radio" id="star-5" name="rating" value="5")
                label(for="star-5")
                input(type="radio" id="star-4" name="rating" value="4")
                label(for="star-4")
                input(type="radio" id="star-3" name="rating" value="3")
                label(for="star-3")
                input(type="radio" id="star-2" name="rating" value="2")
                label(for="star-2")
                input(type="radio" id="star-1" name="rating" value="1")
                label(for="star-1")

      h2 Похожие статьи
      +slider({ pagination: true }).article-preview
        - for(let i=0; i<6; i++)
          +slide.article-preview__item
            a(href='/').article-preview__link
              +img({
                name: 'preview-1',
                path: '/images/stati/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'png', orig: true },
                ],
              })(alt= 'Превью статьи').article-preview__image
            a(href='/').article-preview__title Как подобрать парик?
            +articleInfo

  block styles
    +style('inner')
