.article-header 
  --image-size 3.75rem
  display grid
  grid-template-areas 'rating rating' 'author info' 
  grid-template-columns 1fr auto
  justify-content space-between
  column-gap 0.5rem
  margin-top 1rem
  margin-bottom 2.5rem
  @media(max-width 786px)
    grid-template-areas 'info rating' 'author author' 
    row-gap 1rem
  picture
    display contents
  &__author
    grid-area author
    display grid
    grid-template-columns auto 1fr
    grid-template-rows auto
    grid-template-areas 'img name' 'img job' 
    column-gap 0.5rem
  &__name
    grid-area name
    align-self end
    line-height 1.3
  &__job
    grid-area job
    align-self start
    font-size .875rem
    line-height 1.3
  &__image
    grid-area img
    display block
    width var(--image-size)
    height var(--image-size)
    border-radius 50%
  &__rating 
    grid-area rating
    @media(min-width 786px)
      justify-content flex-end
  &__info
    grid-area info
