include ../article-info/article-info

.article-header 
  .article-header__author
    +img({
      name: 'anastasia-zhuravleva',
      path: '/images/stati/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true },
      ],
    })(alt= 'Анастасия Журавлева').article-header__image
    .article-header__name Анастасия Журавлева 
    .article-header__job Управляющая «Центра Дизайна волос»
  +ratingSum('4.7').article-header__rating

  +articleInfo.article-header__info
