-
  var list1 = [
    'естественность и натуральность, даже искусственных париков',
    'естестввенная густота',
    'естественный окрас',
    'вентелируемость кожи головы',
    'надежная фиксация',
    'невидимая линия роста волос',
    'большинство париков сделаны вручную'
  ]
section.home-description.container
  .content
    h2.home-description__header Магазин париков в Санкт-Петербурге
    +block-wrap({'wrap':true}).home-description__item
      +block-wrap__item(6,6,6,6).home-description__image
        .home-description__image-inner
          +image('/images/home/desc-1.jpg' )
      +block-wrap__item(6,6,6,6).home-description__text
        p Волосы и изделия из волос (постижерные изделия) всегда были не только показателями красоты, но и отдельным направлением в моде. Парики и накладки из натуральных и искусственных волос до сих пор пользуются большим спросом как для маскировки проблемных волос, так и для смены имиджа.
        p Салон париков Центра дизайна волос предоставляет большой выбор париков, накладок, шиньонов и хвостов, разнообразных оттенков, объема и длины самого высокого качества и по приемлемым ценам. Мы предлагаем различные марки изделий из волос, как натуральных, так и из моноволокна.
        .home-advantages
          .home-advantages__item
            .home-advantages__big_numbers 14
            .home-advantages__caption лет помогаем  бороться с облысением
          .home-advantages__item
            .home-advantages__big_numbers 200
            .home-advantages__caption париков в салоне для примерки
    +block-wrap({'wrap':true}).home-description__item
      +block-wrap__item(6,6,6,6).home-description__text
        h3.home-description__subheader Продаем топовые парики из Германии и Франции
        p Мы сотрудничаем с лучшими производителями Европы, всегда в наличии изделия из Франции ( NJ-creation) и Германии (Ellen Wille), а также других производителей.
        p Почемы мы выбралли только эти бренды:
        +list-marked(list1)
        .home-advantages
          .home-advantages__item
            .home-advantages__item.home-advantages__item_nj-creation
              +link('','NJ-creation Франция')
            .home-advantages__item.home-advantages__item_nj-creation 
              +link('','Ellen Will Франция')
      +block-wrap__item(6,6,6,6).home-description__image
        .home-description__image-inner
          +image('/images/home/desc-2.jpg' )
    +block-wrap({'wrap':true}).home-description__item
      +block-wrap__item(6,6,6,6).home-description__image
        .home-description__image-inner
          +image('/images/home/desc-3.jpg' )
      +block-wrap__item(6,6,6,6).home-description__text
        h3.home-description__subheader Продаем топовые парики из Германии и Франции
        p Помещения нашего магазина оборудованы для комфортной примерки изделий или. Вы можете быть уверены в тактичности и профессионализме наших сотрудников. А также опытные мастера готовы не только помочь в выборе наиболее подходящего изделия, но и подстричь или сделать укладку на парике или накладке из натуральных волос.
        .home-advantages
          .home-advantages__item
            .home-advantages__caption Професиональные стилисты подберут
            .home-advantages__big новый стильb
    +block-wrap({'wrap':true}).home-description__item
      +block-wrap__item(6,6,6,6).home-description__text
        h3.home-description__subheader Доставяем парики по России
        p Отправим почтой России до ближайщего к вам отделения.
          | <br>Так же возможно доставка на дом, доставку осуществляют 
          | <br>почтальоны с 8:00 до 16:00 по рабочим дням.

        p Адрес в Санкт-Петербурге: наб. Обводного канала, 108А
          | <br>Работаем ежедневно с 10 до 21. Приходите на примерку парика.
      +block-wrap__item(6,6,6,6).home-description__image
        .home-description__image-inner
          +image('/images/home/desc-4.jpg' )
