+block-wrap({'wrap':true}).product-payment-delivery
  +block-wrap__item(6,6,6,6)
    .product-payment-delivery__header Оплата
    +block-wrap({'wrap':true})
      +block-wrap__item(8,8,8,6)
        .product-payment-delivery__subheader На сайте
        p Банковскими картами, выставлением счета в интрнет-банке, электронными деньгами, через сотового оператора, салон связи или терминалы оплаты
        +image('/images/payment.png')
      +block-wrap__item(4,4,4,6)
        .product-payment-delivery__subheader наличными при получении
        p в магазине или курьеру по Санкт-Петербургу
  +block-wrap__item(6,6,6,6)
    .product-payment-delivery__header Доставка
    +block-wrap({'wrap':true})
      +block-wrap__item(6,6,6,6)
        .product-payment-delivery__subheader в Санкт-Петербурге
        p
          strong Самовывоз из магазина:
          | <br>наб. Обводного канала 108 время работы с 10 до 21
        p
          strong Курьерская доставка
      +block-wrap__item(6,6,6,6)
        .product-payment-delivery__subheader по России
        p Почтой России или транспортной компанией
