mixin error-list(header= '', list= [[name='', link='']])
  .error-list
    .error-list__header !{header}
    .error-list__body
      each item in list
        +link(item[1], item[0]).error-list__item
