.product-properties
  margin-bottom 2rem
  &__item
    width 100%
    max-width 540px
    display flex
    padding-top .5rem
    padding-bottom .5rem
    border-top 1px solid #e0e0e0
    &::last-of-type
      border-bottom 1px solid #e0e0e0
    &:empty
      display none
  &__name
    flex-grow 1
    color #5e5e5e
  &__value
    text-align right
    flex-basis 0
    flex-grow 4
  &__clarification
      display inline-block
      margin-left .5rem
      width 14px
      height 14px
      font-size 0.6875rem
      line-height 0.9375rem
      text-align center
      text-decoration none
      color #fff
      background-color #7b66a1
      border-radius 50%
      transition background-color .2s
      &:hover
        color #fff
        background-color #7544b7
