.header-mobile
  &__menu
    &--inactive
      display none
  &__phone
    margin-top .5rem
    margin-bottom .5rem
    font-size 1rem
    align-self center
    &--inactive
      display none
  &__search-switch
    height 100%
      
  &__search
    height 46px
    display none
    &--active
      display block
    .header-search
      &__input
        font-size 18px
