//'link':['url':'','text':'']
mixin gallery(images= [{'url':'', 'alt':'','desc':'','link':{'url':'','text':''}}], settings= {'size':''})
  if !settings.size || settings.size == 'normal'
      .gallery(class= attributes.class style= attributes.style)
        each image in images
          .gallery__item
            if image.desc
              +image-desc(image.url, image.desc)
            else
              if image.link
                a(href= image.link.url)
                  img(src= image.url alt= image.alt title= image.alt)
                if image.link.text
                  a(href= image.link.url) !{image.link.text}
              else
                img(src= image.url alt= image.alt title= image.alt)

  if settings.size == 'small'
    .gallery.gallery_small
      each image in images
        .gallery__item
          if image.desc
            +image-desc(image.url, image.desc)
          else
            if image.link
              a(href= image.link.url)
                img(src= image.url alt= image.alt title= image.alt)
              if image.link.text
                a(href= image.link.url) !{image.link.text}
            else
              img(src= image.url alt= image.alt title= image.alt)
