.navigation-catalog
  &__item
    > a
      text-decoration none
      text-align center
      color #fff
      transition color .2s, background-color .2s
    &:hover
      > a
        color #7544b7
        background-color #f9f9f9
    &_active
      > a
        color #292929
        background-color #f9f9f9
