.navigation-catalog
  &__list
    display flex
    font-size 0.9375rem
    position relative
  &__item
    flex-grow 1
    @media screen and (min-width 769px)
      &:hover
        .nav-submenu
            display flex
            @supports(display grid)
              display grid
    > a
      display block
      padding .5rem .25rem
