.mobile-menu
  &__label
    background #5b4980
    color #fff
    font-weight 500
  &__check
    &:checked
      ~ .mobile-menu
        &__label
          color #292929
          background-color #f9f9f9
.navigation-mobile
  &__item
    a
      background-color #fff
      text-decoration none
      transition background-color .2s, color .2s
      &:hover
        background-color #7b66a1
        color #fff
    &_active
      a
        background-color #7b66a1
        color #fff
  &__parent-switcher
    background-color #fff
  &-other
    background-color #efefef
    .navigation-other-activities
      &__item
        &_active
          .a-repl
            background-color #fff
            border-left 2px #7b66a1 solid
