.navigation-main
  &__list
    border-bottom 1px solid #e0e0e0
  &__item
    a
      text-decoration none
      color #7b66a1
      transition border-bottom .2s
      &:hover
        border-bottom-color #7b66a1
    &_active
      a
        border-bottom-color #7b66a1
