nav.navigation-main
  ul.navigation-main__list
    li.navigation-main__item.navigation-main__item_active
      a(href='') О магазине
    li.navigation-main__item
      a(href='') Доставка и оплата
    li.navigation-main__item
      a(href='') Новости и акции
    li.navigation-main__item
      a(href='') Все о париках
    li.navigation-main__item
      a(href='') Консультация
    li.navigation-main__item
      a(href='') Контакты
