:root
  --color-white #ffffff
  --color-black #292929

  --color-beige-lighter #faf9fd

  --color-text-h3 var(--color-black)

  --transition-duration-in .1s
  --transition-duration-out .4s

  --base-padding 1rem
  --gap calc(var(--base-padding) * 2)
  --content-width calc(75rem + var(--gap))

