.product-top
  display flex
  align-items center
  margin-bottom 2rem
.product-price
	max-width 700px
	text-align center
.product-discount
  position relative
  margin-left auto
  margin-right 0.5rem
  margin-top -4rem
  display flex
  justify-content center
  align-items center
  width 3.5rem
  height 3.5rem
  font-size 1.25rem
  font-weight 500
  color #fff
  background-color #B91F33
  border-radius 50%
  z-index 10
