.product-buy
  margin-bottom 2rem
  display flex
  align-items center
  &__counter
    flex-basis 25%
    @media screen and (max-width 786px)
      flex-basis 50%
  &__button
    @media screen and (max-width 786px)
      padding-top 10px
      padding-bottom 10px
      font-size 1.1429rem
      line-height 1.4286rem
