.product-buy
  .product-buy__counter
    .product-subheader Количество
    p(style='width: 100%; height: 100%; background-color: #ccc') здесь счётчик товаров
  a(href='').btn-big.product-buy__button Добавить в корзину
