link(rel='stylesheet' href='/template/styles/core.css')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name="format-detection" content="telephone=no")
meta(charset="utf-8")
