@import 'includes/reset'
@import 'includes/fonts'
@import 'includes/variables'

html
  font-family 'Fira Sans'
  font-size 16px
  line-height 1.5
  color #292929
  @media screen and (max-width 786px)
    font-size 14px

@import '../blocks/base-styles/base-styles.core.styl'
@import '../blocks/block-wrap'
@import '../blocks/catalog-list/catalog-list.styl'
@import '../blocks/catalog-product/catalog-product.core.styl'
@import '../blocks/header-basket/header-basket.core.styl'
@import '../blocks/header-info/header-info.core.styl'
@import '../blocks/header-mobile/header-mobile.core.styl'
@import '../blocks/header-search/header-search.core.styl'
@import '../blocks/header/header.core.styl'
@import '../blocks/home-catalog-list'
@import '../blocks/home-catalog/home-catalog.core.styl'
@import '../blocks/home-filter-form/home-filter-form.core.styl'
@import '../blocks/home-slider/home-slider.core.styl'
@import '../blocks/home-top'
@import '../blocks/mobile-menu/mobile-menu.core.styl'
@import '../blocks/nav-catalog/nav-catalog.core.styl'
@import '../blocks/nav-main/nav-main.core.styl'
@import '../blocks/nav-submenu'
@import '../blocks/nav-top/nav-top.core.styl'
@import '../blocks/banner-schedule/banner-schedule.core'

.xl-hidden
  @media screen and (min-width 1201px)
    display none !important
.l-hidden
  @media screen and (max-width 1200px) and (min-width 1025px)
    display none !important
.m-hidden
  @media screen and (max-width 1024px) and (min-width 787px)
    display none !important
.s-hidden
  @media screen and (max-width 786px)
    display none !important
