.catalog-list
  row-gap 24px
  align-items flex-start
  align-content flex-start
  &__item
    position relative
    @media (max-width 1024px)
      height 100%
    @media screen and (max-width 480px)
      flex-basis 100%
      @supports (display grid)
        grid-column span 12
    @media (min-width 1024px)
      margin-inline -12px
