include ../catalog-product/catalog-product
mixin catalog-list__item
  +block-wrap__item(4,4,6,3).catalog-list__item
    block

+block-wrap({'wrap':true}).catalog-list
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-2.png",
      "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
      "price":"11 500",
      "oldPrice":"13 800",
      "colors":true,
      'available': true,
    })
  //- +catalog-list__item 
  //-   +catalog-product({
  //-     "image":"images/catalog/product-1.png",
  //-     "name":"Activ Look — Annica HansenDream",
  //-     "price":"11 500"
  //-   })
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-2.png",
      "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
      "price":"11 500",
      "oldPrice":"13 800",
      "colors":true
    })
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-1.png",
      "name":"Activ Look — Annica HansenDream",
      "price":"11 500",
      "colors":true,
      "loader":true,
    })
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-2.png",
      "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
      "price":"11 500",
      "oldPrice":"13 800",
    })
