ul.nav-submenu
  li.nav-submenu__category
    .nav-submenu__subtitle Для кого:
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/zhenskiy/') Женский
      li.nav-submenu__item: a(href='/catalog/pariki/muzhskoy/') Мужской
      li.nav-submenu__item: a(href='/catalog/pariki/detskiy/') Детский
      li.nav-submenu__item: a(href='/catalog/pariki/raquel-welch-urban-style-2013/korotkiy/') Для пожилых
  li.nav-submenu__category
    .nav-submenu__subtitle Материал волос
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/naturalnyy/') Натуральный
      li.nav-submenu__item: a(href='/catalog/pariki/iskusstvennyy/') Искусственный
      li.nav-submenu__item: a(href='/catalog/pariki/smeshannyy/') Смешанный
      li.nav-submenu__item: a(href='/catalog/pariki/easy-brush/') Термоволокна
  li.nav-submenu__category
    .nav-submenu__subtitle Длина волос
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/dlinnyy/') Длинные
      li.nav-submenu__item: a(href='/catalog/pariki/korotkiy/') Короткие
      li.nav-submenu__item: a(href='/catalog/pariki/sredniy/') Средние
  li.nav-submenu__category
    .nav-submenu__subtitle Структура волос
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/pryamoy/') Прямые
      li.nav-submenu__item: a(href='/catalog/pariki/volnistyy/') Волнистые
      li.nav-submenu__item: a(href='/catalog/pariki/kudryavyy/') Кудрявые
  li.nav-submenu__category
    .nav-submenu__subtitle Конструкция шапки
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/monofilament-ruchnaya-rabota-na-setke/') На сетке
      li.nav-submenu__item: a(href='/catalog/pariki/tressy-bez-setki/') Без сетки (трессы)
      li.nav-submenu__item: a(href='/catalog/pariki/100-ruchnaya-rabota/') Ручная работа
  li.nav-submenu__category
    .nav-submenu__subtitle Стрижка
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/s-proborom/') С пробором
      li.nav-submenu__item: a(href='/catalog/pariki/kare/') Каре
      li.nav-submenu__item: a(href='/catalog/pariki/bob/') Боб
      li.nav-submenu__item: a(href='/catalog/pariki/kaskad/') Каскад
      li.nav-submenu__item: a(href='/catalog/pariki/s-chelkoy/') С челккой
      li.nav-submenu__item: a(href='/catalog/pariki/bez-chelki/') Без челки
  li.nav-submenu__category
    .nav-submenu__subtitle Стиль
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/filter/style-is-vecherniy/apply/') Вечерний
      li.nav-submenu__item: a(href='/catalog/pariki/filter/style-is-delovoy/apply/') Деловой
      li.nav-submenu__item: a(href='/catalog/pariki/filter/style-is-klassicheskiy/apply/') Классический
      li.nav-submenu__item: a(href='/catalog/pariki/modnyy/') Модный
      li.nav-submenu__item: a(href='/catalog/pariki/filter/style-is-na-svadbu/apply/') На свадьбу
      li.nav-submenu__item: a(href='/catalog/pariki/povsednevnyy/') Повседневный
      li.nav-submenu__item: a(href='/catalog/pariki/elegantnyy/') Элегантный
  li.nav-submenu__category
    .nav-submenu__subtitle Особенности
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/nezametnyy/') С имитацией кожи головы
      li.nav-submenu__item: a(href='/catalog/pariki/oblegchennyy/') Облегченный
      li.nav-submenu__item: a(href='/catalog/pariki/frontalnaya-liniya/') Lace front
      li.nav-submenu__item: a(href='/catalog/pariki/na-rezinke/') На резинке
      li.nav-submenu__item: a(href='/catalog/pariki/na-zakolkah/') На заколках
      li.nav-submenu__item: a(href='/catalog/pariki/umnyy/') Умный
      li.nav-submenu__item: a(href='/catalog/pariki/european-hair/') Славянские
  li.nav-submenu__category
    .nav-submenu__subtitle Цвет
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/blond/') Блонд
      li.nav-submenu__item: a(href='/catalog/pariki/svetlyy/') Светлый
      li.nav-submenu__item: a(href='/catalog/pariki/bryunet/') Темный
      li.nav-submenu__item: a(href='/catalog/pariki/shaten/') Шатен
      li.nav-submenu__item: a(href='/catalog/pariki/ryzhiy/') Рыжий
      li.nav-submenu__item: a(href='/catalog/pariki/sedoy/') Седой
  li.nav-submenu__category
    .nav-submenu__subtitle Бренд
    ul.nav-submenu__sublist
      li.nav-submenu__item: a(href='/catalog/pariki/ellen-wille/') Ellen Wille
      li.nav-submenu__item: a(href='/catalog/pariki/nj-creation/') NJ Creation
