.nav-submenu
  display none
  position absolute
  top 2.375rem
  left 0
  z-index 11
  padding .5rem 1rem
  background-color #f9f9f9
  flex-wrap wrap
  width 1024px
  z-index 110
  @supports(display grid)
    grid-template-columns repeat(5, 1fr)
    grid-gap 1rem
  &_right
    right 0
    left auto
  @media screen and (max-width 1024px)
    width 768px
    @supports(display grid)
      grid-template-columns repeat(4, 1fr)
      grid-gap 1rem
  @media screen and (max-width 768px)
    &_display
      display block
      position static
      width 100%
    @supports(display grid)
      grid-template-columns repeat(1, 1fr)
      grid-gap 1rem
      &_display
        display grid
  &_6cols
      @supports(display grid)
        grid-template-columns repeat(6, 1fr)
        grid-gap 1rem
  &__category
    margin-right 4rem
    margin-bottom 1rem
    width 10rem
    @supports(display grid)
      margin-right 0
      width auto
    @media screen and (max-width 768px)
      margin-right 0
      margin-bottom 1rem
      width auto
  &__subtitle
    font-weight bold
    margin-bottom 0.75rem
  &__sublist
    flex-grow 1
    &-item
      margin-bottom .4375rem
      font-size .875rem
      > a
        text-decoration none
        &:hover
          text-decoration underline
        @media screen and (max-width 768px)
          padding .375rem .5rem
          line-height 1.5rem
