.home-catalog
  &__tabs
    @media screen and (max-width 786px)
      background-color #fff
  &__tab
    color #5e5e5e
    cursor pointer
    &_active
      font-weight 500
      color #3d3d3d
      box-shadow 0 4px 0 -2px #fff
