footer.footer-main
  .container
    .content
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,12).s-hidden.footer-main__left
          include ../footer-main-navigation/footer-main-navigation
        +block-wrap__item(4,4,12,6)
          include ../footer-main-contacts/footer-main-contacts

      include ../footer-main-payment/footer-main-payment
      include ../footer-main-copyright/footer-main-copyright
      
