.footer-main-copyright
  color #7a7a7a 
  font-size 0.875rem
  &__developer
    padding-left 3rem
    //background-image svgImport('svg/medreclama.svg')
    background-repeat no-repeat
    background-position left center
    background-size 2.25rem
  [href='http://www.medreclama.ru/']
    color #7b66a1
    &:hover
      color #5e5e5e
