+block-wrap.footer-main-copyright.s-hidden
  +block-wrap__item(8).m-hidden © Магазин париков "Центр Дизайна волос" 2006 - 2016
  +block-wrap__item(4,4,8,6).footer-main-copyright__developer Разработка интернет-магазина 
    | <br class='m-hidden'>web-студия 
    +link-primary('http://www.medreclama.ru/','«Медреклама»','_blank')
    
