.catalog-product-buy
  display flex
  justify-content space-between
  align-items center
  &__button
    font-size 1rem
    background-color #eb47a4
    text-decoration none  !important
    &--pre-order
      width 100%
    &:hover
      background-color #db3186
  &__one-click
    color #7b66a1
