h1
.h1
  margin 1.5rem 0 .5rem
  font-size 2.125rem
  font-weight 500
  line-height 2.75rem
  br + small
    margin-bottom 1.5rem
p
  margin-bottom .5rem
  font-size 1rem
  line-height 1.5rem
.btn
  display inline-block
  padding-left 1.375rem
  padding-right 1.375rem
  min-width 132px
  font-size 0.875rem
  font-weight 500
  line-height 2.25rem
  text-decoration none
.container
  width 100%
  display flex
  justify-content center
  padding-left calc(100vw - 100%)
.content
  flex-basis 1176px
  max-width 1176px
  width 100%
  @media screen and (max-width 1220px)
    flex-basis 100%
    flex-shrink 0
    padding-left 16px
    padding-right 16px
