mixin h1(header)
  h1(class!=attributes.class)= header

mixin h1sub(text)
  p(class!=attributes.class).h1-subheader= text
  
mixin h2(header)
  h2(class!=attributes.class)= header

mixin h3(header)
  h3(class!=attributes.class)= header

mixin h4(header)
  h4(class!=attributes.class)= header

mixin h5(header)
  h5(class!=attributes.class)= header
mixin text-highlighted
  .text-highlighted
    block
mixin list-marked(items, id)
  if id
    ul.list-marked(id= id)
      each item in items
        li !{item}
  else
    ul.list-marked
      each item in items
        li !{item}

mixin list-numbered(items, id)
  if id
    ol.list-numbered(id= id)
      each item in items
        li !{item}
  else
    ol.list-numbered
      each item in items
        li !{item}
mixin list-descriptions(items)
  dl.list-descriptions
    each item in items
      dt !{item.name}
      dd !{item.desc}
mixin link(href, name, target)
  if target
    a(href= href target= target class!=attributes.class) !{name}
  else
    a(href= href class!=attributes.class) !{name}
    
mixin link-primary(href, name, target)
  if target
    a.link-primary(href= href target= target class!=attributes.class) !{name}
  else
    a.link-primary(href= href class!=attributes.class) !{name}

mixin link-interactive(href, name)
  a.link-interactive(href= href class!=attributes.class)
    span= name
mixin image(src, alt, title)
  if title && alt
    img(src= src, alt= alt, title= title class!=attributes.class)
  else if(!title && alt)
    img(src= src, alt= alt, title= alt class!=attributes.class)
  else
    img(src= src class!=attributes.class)

mixin image-desc(src, desc, alt, title)
  if title && alt
    figure.image-desc(class!=attributes.class)
     img(src= src, alt= alt, title= title).image-desc__img
     figcaption.image-desc__desc !{desc}
  else if(!title && alt)
    figure.image-desc(class!=attributes.class)
     img(src= src, alt= alt, title= alt).image-desc__img
     figcaption.image-desc__desc !{desc}
  else
    figure.image-desc(class!=attributes.class)
     img(src= src alt= desc title= desc).image-desc__img
     figcaption.image-desc__desc !{desc}

mixin container()
  .container(class!=attributes.class)
    block

mixin content()
  .content(class!=attributes.class)
    block

mixin breadcrumbs(bcrumbs= ['Главная'])
  .breadcrumbs
    ul.breadcrumbs__list
      each item, i in bcrumbs
        if i == 0
          li.breadcrumbs__item.breadcrumbs__item_top
            a(href='/')= bcrumbs[i]
        else if i != (bcrumbs.length - 1)
          li.breadcrumbs__item
            a(href='')= bcrumbs[i]
        else
          li.breadcrumbs__item.breadcrumbs__item_last
            span= bcrumbs[i]
mixin link-header2(href, name, target)
  if target
    h2.link-header2(class!=attributes.class)
      a(href= href target= target)
        span !{name}
  else
    h2.link-header2(class!=attributes.class)
      a(href= href)
        span !{name}
mixin youtube-responsive(videoId, description)
  -var src = 'https://www.youtube.com/embed/' + videoId
  .video-responsive
    .video-responsive__iframe
      iframe(src= src allowfullscreen)
    if description
      .video-responsive__desc !{description}
