extends /blocks/layout/layout
include /blocks/error-list/error-list
block content
  -
    var list1Header = 'Каталог товаров'
    var list1 = [
      ['Парики',''],
      ['Шиньоны и хвосты',''],
      ['Накладки',''],
      ['Головные уборы вместо парика',''],
      ['Средства по уходу','']
    ]
    var list2Header = 'О магазине'
    var list2 = [
      ['О магазине',''],
      ['Доставка и оплата',''],
      ['Новости и акции',''],
      ['Возврат и обмен товара',''],
      ['Статьи о париках',''],
      ['Контакты','']
    ]
  +container.error-page
    +content
      +h1('Страница не найдена')
      p Неправильно набран адрес, или такой страницы на сайте больше не существует.
      p Вернитесь 
        +link('/','на главную')
        |  или воспользуйтесь картой сайта.
      +error-list(list1Header, list1)
      +error-list(list2Header, list2)
  block styles
    +style('inner')
