extends /blocks/layout/layout

block content
  +container()
    +content().catalog
      +breadcrumbs(['Главная','Каталог','Парики'])
      +block-wrap({'wrap':true})
        +block-wrap__item(3,3,3,6)
          .bx-sidebar-block
            include ../blocks/mobile-filter/mobile-filter
            include ../blocks/catalog-filter/catalog-filter
            +aside-faq(
              'Помощь в выборе парика',
              [
                ['','Как подобрать парик'],
                ['','Чем отличются основы'],
                ['','Чем отличаются натуральные и искусственные  волосы в парике']
              ]
            ).s-hidden
        +block-wrap__item(9,9,9,6)  
          +h1('Парики')
          p
            | Продаем парики с 
            strong 2002 года.
            |  Большой выбор из около 
            strong 200 моделей
            |  в наличии. Доставим по России. Соблюдаем 
            strong конфиденциальность
            | , есть отдельная примерочная. Большой опыт работы с людьми с потерей волос. Продаем 
            strong качественные европейские парики
            | , не отличить от своих волос, 
            strong не заметны
            | , надежная фиксация. Наши стилисты бесплатно подберут 
            strong для вас стиль.
          include ../blocks/catalog-sort/catalog-sort
          include ../blocks/catalog-list/catalog-list
          include ../blocks/catalog-description/catalog-description
      +block-wrap({'wrap':true}) 
        +block-wrap__item(12) 
          +h2('Просмотренные ранее товары') 
      <div class="modal quickBuy" id="buy-one-click">
        <a class="modal__close" href="" rel="modal:close">×</a>
        <div class="modal_body">
          <div class="modal__header">Заказать НАЗВАНИЕ ПАРИКА</div>
          <p><strong>Укажите номер телефона.</strong></p>
          <p>Перезвоним проконсультировать по&nbsp;товару и&nbsp;помочь в&nbsp;подборе, уточнить место доставки, выбрать удобный способ оплаты.</p>
          <form method="post" class="quick-buy validated-form submitJS" name="quick-buy">
            <div class="quick-buy__row">
              <div class="form-field form-field-phone">
                <input type="tel" name="phone" class="validated required" placeholder="+7 (___) ___-__-__">
                <div class="validation-msg validation-msg-required">Напишите телефон мы перезвоним и подтвердим заказ</div>
              </div>
              <input type="submit" value="Заказать" class="btn">
            </div>
            <div class="form-field quick-buy__agreement">
              <input type="checkbox" id="quick-buy__agreement" name="agreement" class="validated required" checked="" required="">
              <label for="quick-buy__agreement">Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>.</label>
            </div>
            <input type="hidden" name="productId" value="2127">
            <input type="hidden" name="sectionName" value="Парики">
          </form>
        </div>
      </div>
      <div class="modal" id="availability">
        <a class="modal__close" href="" rel="modal:close">×</a>
        <div class="modal_body">
          <div class="modal__header">Сообщить о поступлении</div>
          <form method="post" class="modal-availability modal_form_subscribe subscribe validated-form submitJS" name="modal-availability">
            <input type="hidden" name="product_art" class="product_art" value="781">
            <input type="hidden" name="product" value="781">
            <div class="form-field form-field-phone">
              <label for="name">Имя</label>
              <input id="name" type="text" name="name" class="validated required">
              <div class="validation-msg validation-msg-required">Обязательное поле</div>
            </div>
            <div class="form-field form-field-phone">
              <label for="phone">Телефон</label>
              <input id="phone" type="tel" name="phone" class="validated required" placeholder="+7 (___) ___-__-__">
              <div class="validation-msg validation-msg-required">Обязательное поле</div>
            </div>
            <input type="submit" value="Заказать" class="btn">
            <div class="form-field modal-availability__agreement">
              <input type="checkbox" id="modal-availability__agreement" name="modal-availability__agreement" class="validated required" checked="" required="">
              <label for="modal-availability__agreement">Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>.</label>
            </div>
          </form>
        </div> 
      </div>

      .modal.modal-cart#add-to-cart
        a(href='' rel="modal:close").modal__close ×
        .modal__body
          .modal__header Товар добавлен в корзину
          .modal-cart__inner
            img(src="images/catalog/product-2.png").modal-cart__image   
            .modal-cart__name Dream Look — сексуаьный, длинный парик с открытым лбом
            a(href='/personal/cart/').btn Перейти в корзину
  block styles 
    +style('https://vsepariki.com/bitrix/templates/.default/styles/jquery.modal.min.css')
    +style('https://vsepariki.com/bitrix/templates/.default/styles/add.css')
    +style('inner')
