extends /blocks/layout/layout

block content
  .container
    .content
      h1 Чем отличаются искусственные парики от&nbsp;натуральных?
      p Мы&nbsp;продаем естественные (натуральные), искусственные и&nbsp;смешанные парики. 
      h2 Натуральные парики

      p Такие парики изготавливаются из&nbsp;натуральных человеческих волос. Натуральные волосы лежат естественно, обладают здоровым блеском, их&nbsp;можно стричь, укладывать и&nbsp;тонировать, поэтому они очень комфортны в&nbsp;носке.

      p Чтобы изготовить парик, иногда требуется от&nbsp;3&nbsp;до&nbsp;5&nbsp;доноров, чтобы получить необходимое количество волос. Мы&nbsp;продаем парики, которые изготавливаются из&nbsp;высших 6&nbsp;и&nbsp;7&nbsp;уровня качества волос (всего существует 7&nbsp;уровней).

      h2 Искусственные парики

      p Искусственные парики изготавливают из&nbsp;синтетических волокон, которые подвергаются специальной обработке для придания им&nbsp;свойств, максимально схожих со&nbsp;свойствами натуральных волос.
      h3 Дешевые синтетические парики
      p Обычно синтетические парики представляют, как дешевые на&nbsp;вид изделия с&nbsp;искусственным блеском. Так выглядят модели из&nbsp;полиамида, акрила или винила. Ненатуральные они и&nbsp;на&nbsp;ощупь: жесткие и&nbsp;грубые. Через несколько месяцев постоянного ношения парики из&nbsp;таких волос обычно скатываются и&nbsp;теряют хороший вид.
      h3 Канекалон
      p Но&nbsp;существуют искусственные парики из&nbsp;канекалона, и&nbsp;это уже совершенно другой уровень!
      p Искусственные парики почти ничем не&nbsp;уступают натуральным, поэтому думать, что синтетический парик&nbsp;&mdash; уступка в&nbsp;цене, ошибочно.

      p Канекалон изготавливают из&nbsp;водорослей. Синтетические парики из&nbsp;канеколона:
      ul.list-marked
        li прекрасно сохраняют форму
        li необычайно легкие (канекалон легче натурального волоса в&nbsp;8&nbsp;раз) и&nbsp;тонкие, не&nbsp;создают лишнего объема
        li визуально очень похожи на&nbsp;натуральные волосы: естественный блеск, высокая прочность. 
        li срок носки значительно больше

      p Канекалон бывает разных сортов. Мы&nbsp;
        strong предлагаем парики только из&nbsp;качественного канекалона. 

      h3 Термостойкие искусственные парики

      p Термостойкие парики&nbsp;&mdash; это особый вид искусственных париков, которые можно укладывать при помощи нагрева (фен, бигуди, плойки).
      ul.list-marked
        li Можно укладывать практически также, как и&nbsp;натуральные
        li Запоминают форму горячей укладки и&nbsp;возвращаются к&nbsp;ней после намокания
        li Блестят меньше, чем обычные искусственные парики

      h3 Смешанные парики
      p Изготавливаются из&nbsp;смеси термостойких искусственных и&nbsp;натуральных волос.
      p Это идеальное сочетание лучших качеств натуральных волос и&nbsp;термостойких свойств специальных искусственных волос.
      ul.list-marked
        li Выглядят как натуральные волосы
        li Модели готовы к&nbsp;носке, однако их&nbsp;можно укладывать термическими инструментами
        li Проще уход
        li Прическа не&nbsp;изменится даже во&nbsp;влажную погоду

      p У&nbsp;марки 
        a(href='/catalog/pariki/ellen-wille/') Ellen Wille
        |  парики данного типа представлены в&nbsp;коллекции 
        a(href='/catalog/pariki/filter/collection_wig-is-prime_power_2016/apply/') Primepower.
      p У&nbsp;марки 
        a(href='/catalog/pariki/nj-creation/') NJ&nbsp;Creation
        |  парики данного типа представлены моделями 
        a(href='/catalog/pariki/jodie.html') JODIE
        |  и&nbsp;
        a(href='/catalog/pariki/delphine.html') DELPHINE.

      h2 Сравнение искусственных, естественных париков и&nbsp;смешанных париков
      table.table
        tr
          th
          th Натуральные
          th Искусственные
          th Смешанные
        tr
          td Внешний вид
          td выглядят более естественно: искусственный блеск отсутствует
          td блестят больше, а парики нового поколения блестят, как натуральные волосы
          td естественные цветовые оттенки и блеск
        tr
          td Вес
          td тяжелее, чем искусственный
          td легче, чем натуральный
          td средний между натуральным и искусственным париком
        tr
          td Возможность укладки
          td без ограничений
          td сушить феном, выпрямлять плойкой, завивать на бигуди можно не все парики, а только из термостойкого материала
          td можно сушить феном, накручивать, но есть ограничения по температуре (150 °C)
        tr
          td Варианты укладки
          td изначальный вид прически или укладки можно изменить
          td укладку термическими инструментами можно изменить только для париков из термостойкого материала
          td укладку можно изменить
        tr
          td На ощупь
          td гладкий, тяжелая и плотная структура волоса<br>могут реагировать на погоду: становиться сухими в жару или завиваться при влажной погоде
          td структура легкая и пористая<br>не реагируют на погодные условия
          td нежные и мягкие
        tr
          td Долговечность
          td в среднем 1-2 года и более
          td 6-8 месяцев
          td будет служить дольше, чем парики из искусственных волос
        tr
          td Возможность окрашивания
          td можно
          td нельзя
          td нельзя
        tr
          td Стойкость цвета
          td незначительно теряют изначальный цвет
          td цвет не теряют
          td не теряют
        tr
          td Уход
          td необходим постоянный уход, как за своими волосами
          td легко ухаживать, не нужно укладывать
          td легко ухаживать
        tr
          td Цена
          td дороже искусственных<br>от 12850 руб., в среднем около 53000 руб.
          td дешевле натуральных<br>от 5100 руб., в среднем около 15000 руб.
          td от 12450 руб.,<br>в среднем 28000 руб.
      h2 Рекомендации по&nbsp;выбору

      h3 Бюджет
      p Искусственные парики могут быть вполне доступными по&nbsp;цене, а&nbsp;качественный синтетический парик будет выглядеть очень естественно.

      h3 Срок ношения
      p Так как натуральные парики служат 1-2 года для людей, которые вынуждены носить парик большую часть времени, они могут стать более подходящим вариантом.
      p Если вам не&nbsp;понадобится очень долго носить парик или вы&nbsp;собираетесь носить его время от&nbsp;времени (например, для смены имиджа), срока службы 6-8 месяцев будет достаточно. В&nbsp;таком случае выбирайте искусственный парик.

      h3 Сэкономить силы и&nbsp;время
      p Искусственные парики проще в&nbsp;уходе, соответственно, на&nbsp;их&nbsp;поддержание в&nbsp;хорошем состоянии требуется меньше сил и&nbsp;времени. Это позволяет сберечь энергию, когда необходимо. 

      h3 Где вы&nbsp;будете носить парик?
      p Погодные условия могут влиять на&nbsp;состояние натурального парика&nbsp;&mdash; в&nbsp;зависимости от&nbsp;влажности и&nbsp;температуры волосы могут стать безжизненными или начать завиваться. Если вы&nbsp;живете в&nbsp;условиях повышенной влажности, делайте выбор в&nbsp;пользу искусственного парика, который держит форму при любой погоде. Частое пребывание на&nbsp;открытом воздухе, особенно под прямыми лучами солнца, может привести к&nbsp;выцветанию и&nbsp;изменению цвета натурального парика.

      h3 Резюме
      p Выбор естественных париков оправдан, если вы&nbsp;стремитесь к&nbsp;максимальной натуральности внешнего вида волос, хотите менять цвет и&nbsp;свободно укладывать изделие по&nbsp;своему вкусу. 

      p Если&nbsp;же вы&nbsp;не&nbsp;планируете менять цвет, не&nbsp;хотите тратить время на&nbsp;укладку и&nbsp;длительный уход, тогда вам подойдет 
        strong искусственный парик. 

      h3 Термостойкие синтетические парики
      p Теплостойкие синтетические волосы&nbsp;&mdash; идеальный выбор, если вы&nbsp;любите разные укладки. Чтобы они отлично выглядели&nbsp;&mdash; важен правильный уход. Оптимальная температура для укладки этого типа волос составляет от&nbsp;120 до&nbsp;135 &deg;C. (Температуры выше 175 &deg;C&nbsp;по&nbsp;не&nbsp;рекомендуются.)
      p Представлены следующими моделями марки 
        a(href='/catalog/pariki/nj-creation/') NJ&nbsp;Creation
        | : ADELAIDE, CELINE, SOLWEIG, CATHERINE, Christopher
      h2 Рекомендации по уходу
      table.table
        tr
          th Искусственный парик
          th Натуральный парик
          th Смешанный парик
        tr
          td
            ul.list-marked
              li Не надо укладывать и часто мыть.
              li Первоначальную форму восстанавливает после опрыскивания водой и встряхивания.
              li Для ухода нужны специальные средства: кондиционер, бальзам и шампунь.
          td
            ul.list-marked
              li Мыть надо чаще, обязательно укладывать после мытья.
              li Специальные средства для ухода не нужны. Но вместо домашних лучше использовать профессиональные. 
          td
            ul.list-marked
              li Мыть надо чаще, обязательно укладывать после мытья.
              li Специальные средства для ухода не нужны. Но вместо домашних лучше использовать профессиональные. 
        tr
          td(colspan='3')
            p Парики лучше хранить в коробке: волосы не будут спутываться и сминаться, выцветать.
            p Если придерживаться всех рекомендаций, срок службы париков может увеличиться в разы.
  block styles
    +style('inner')
