extends /blocks/layout/layout

block content
  +container.contacts
    +content
      +breadcrumbs(['Главная','Контакты'])
      +h1('Контакты')
      include ../blocks/contacts/contacts
  block styles
    link(href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet") 
    +style('inner')
