extends /blocks/layout/layout
include ../blocks/img/img
include ../blocks/slider/slider

block content
  +container  
    +content
      h2 Статьи
      ul.list-marked
        li
          a(href='/articles/polnyy-gid-po-vyboru-parika.html') Полный гид по выбору парика
        li
          a(href='/articles/kak-skryt-alopeciyu-u-muzhchin.html') Как скрыть алопецию у мужчин
        li
          a(href='/articles/kak-skryt-oblysenie-u-zhenshchin.html') Как скрыть алопецию у женщин
        li
          a(href='/articles/kak-ubrat-zalysiny-u-muzhchin.html') Как убрать залысины у мужчин
        li
          a(href='/articles/kak-ubrat-zalysiny-u-zhenshchin.html') Как убрать залысины у женщин
  include ../blocks/home-top/home-top
  +container  
    +content.home-discount-slider
      p.home-discount-slider__header Акции   
      -
        const discounts = [
          {
            title: 'Скидка <mark>15%</mark>',
            description: 'На все натуральные накладки (кроме ликвидации, скидки не суммируются)',
            img: 'discounts-top-natural',
            href: 'https://vsepariki.com/catalog/nakladki/naturalnyy/',
            countdown: true,
          },
          {
            title: 'Скидка <mark>40%</mark>',
            description: '<strong>Ликвидация</strong> остатков накладок на макушку с основой сетка+трессы со скидкой 40%',
            img: 'discounts-setka',
            href: '/catalog/nakladki/filter/base_cover-is-setka-tressy/apply/',
            countdown: true,
          },
          {
            title: 'Скидка <mark>30%</mark>',
            description: 'На весь домашний уход за изделиями (Estel)',
            img: 'discounts-estel',
            href: '/catalog/ukhodovaya-kosmetika/',
            countdown: true,
          },
          {
            title: 'Скидка <mark>15%</mark>',
            description: 'На все накладки',
            img: 'discounts-tops',
            href: '/catalog/nakladki/',
            countdown: true,
          },
          {
            title: 'Шиньон-резинки со скидкой <mark>15%</mark>',
            description: 'Шиньон-резинки из натуральных волос — идеальный способ сделать причёску всего за минуту!',
            img: 'discounts-chignon',
            href: '/catalog/shinony/na-rezinke/',
            countdown: true,
          },
          {
            title: 'Модный утюжок <mark>в подарок</mark>',
            description: 'Получи подарок при покупке изделия из&nbsp;натуральных волос от&nbsp;10&nbsp;000&nbsp;₽ и&nbsp;создай свой идеальный образ!',
            img: 'discounts-iron',
            href: 'https://volosy24.ru/shop/instrumenty-dlya-ukladki-volos/utyuzhok-dlya-vypryamleniya-volos-mini/',
          },
        ]
      +slider({ pagination: true }).home-discount-slider__slider
        each item in discounts
          +slide
            .home-discount-slider__item
              .home-discount-slider__info
                p.home-discount-slider__title !{item.title}
                p.home-discount-slider__description !{item.description}
                if (item.countdown)
                  p.countdown.home-discount-slider__countdown(data-date='2024, 07, 01')
                if (item.href)
                  a(href=item.href).home-discount-slider__btn.btn Каталог
              +img({
                name: item.img,
                path: '/images/home/discounts/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'png', orig: true },
                ],
              })(alt= item.title ).home-discount-slider__image
  include ../blocks/home-catalog/home-catalog
  include ../blocks/home-other-products/home-other-products
  include ../blocks/home-description/home-description
  include ../blocks/home-news/home-news
  block styles
    +style('home')
    +style('fotorama')
    +style('swiper-bundle.min')   
    //- +style('jquery.countdown')     
