extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/kak-vybrat-razmer/'
  .container
    .content
      p Размер парика лучше подобрать перед тем, как выбирать модель парика. Так как для некоторых размеров доступны не&nbsp;все модели.
      p Каждый парик имеет свой определенный размер, который указан в&nbsp;описании товара. В&nbsp;другом размере этот парик заказать невозможно.


      h2 Что такое размер парика?
      +image(imagesFolder+'tape-measure.jpg','')
      p Производители изготавливают парики разных размеров.
      p Размер парика&nbsp;&mdash; определяется размером окружности основы парика.


      h2 Почему важно правильно подобрать размер?

      p Если вы&nbsp;правильно выбрали парик, вам будет в&nbsp;нем комфортно, а&nbsp;внешне это будет выглядеть натурально 
      p Если неправильно, столкнетесь с&nbsp;проблемами:
      +list-marked([
        'если шапочка изделия вам мала, то&nbsp;парик будет сдавливать голову, съезжать на&nbsp;макушку или затылок',
        'если шапочка изделия вам велика, то&nbsp;парик&nbsp;&mdash; будет плохо держаться и&nbsp;при активном движении может слететь с&nbsp;головы.'
      ])
      p Предлагаем узнать, как правильно подобрать парик по&nbsp;размеру. 


      h2 Какие бывают размеры?
      .gallery
        .gallery__item
          +image-desc(imagesFolder+'size-standard.jpg', 'Парик стандартного размера')
        .gallery__item
          +image-desc(imagesFolder+'size-large.jpg', 'Парик большого размера')
        .gallery__item
          +image-desc(imagesFolder+'size-small.jpg', 'Парик маленького размера')
      p Перед тем, как выбрать размер парика, вы&nbsp;должны знать, что большинство моделей в&nbsp;нашем магазине имеют стандартный (средний) размер.
      p Парики стандартного размера (55-57&nbsp;см)&nbsp;&mdash; подойдут большинству женщин.
      p Парики большого размера (58-60&nbsp;см)&nbsp;&mdash; подойдут большинству мужчин.
      p Парики маленького размера (52-54&nbsp;см)&nbsp;&mdash; подойдут детям и&nbsp;женщинам с&nbsp;маленьким размером головы.

      h3 Размеры женских париков
      p Большинство женщин (90-95%) имеют стандартный размер головы.
      p Если у&nbsp;вас стандартный размер головы, вам будет доступно больше моделей для выбора.


      h2 Как измерить голову?
      +text-highlighted
        p Чтобы подобрать парик по&nbsp;размеру, сначала нужно измерить голову.
      +image-desc(imagesFolder+'measure.png','Лента проходит над ушами, от затылка ко лбу.')
      p Размер головы мало зависит от&nbsp;размеров тела человека. Лучше всего не&nbsp;строить никаких предположений, а&nbsp;просто 
        strong произвести измерения
        | .
      +list-numbered([
        'Чтобы добиться точных измерений, лучше всего, чтобы кто-то помог вам.',
        'Используйте мягкую измерительную ленту и&nbsp;не&nbsp;тяните&nbsp;ее, просто приложите ее&nbsp;к&nbsp;голове.',
        'Перед измерением уложите волосы как можно более плотно.'
      ])
      p(style='clear: both;') Возьмите сантиметровую ленту, измерьте окружность.
      +list-numbered([
        'Начинайте измерения с&nbsp;области лба (над бровями), двигаясь в&nbsp;одну сторону вдоль линии роста волос *.',
        'Когда дойдете до&nbsp;уха, протяните ленту за&nbsp;ухо.',
        'Двигаясь по&nbsp;кругу, оберните голову и&nbsp;вернитесь к&nbsp;исходной точке на&nbsp;лбу.'
      ])
      p * Если у&nbsp;вас нет волос или нет линии волос&nbsp;&mdash; просто поставьте рулетку, где вы&nbsp;хотите, чтобы ваша линия волос начиналась.
      p Лучше округлить полученное значение в&nbsp;большую сторону. Например, 55,3&nbsp;см. округлить до&nbsp;56&nbsp;см.
      p Полученная цифра будет являться длиной окружности головы.
      p Лучше провести измерение дважды, чтобы убедиться, что вы&nbsp;сделали все правильно.


      h2 Как определить размер парика?
      p Зная длину окружности головы, можно подобрать размер парика, воспользовавшись таблицей:
      +table({'header':['Размер парика','Длина окружности головы'], 'rows':[['Большой','58-60 см.'],['Стандартный','55-57 см.'],['Маленький','52-54 см.']]})


      h2 Регулировка размера
      p Большинство моделей париков с&nbsp;внутренней стороны шапки имеют специальные резиночки на&nbsp;липучках, которые позволяют менять размер парика для комфортного и&nbsp;надежного ношения на&nbsp;2&nbsp;см в&nbsp;меньшую или большую сторону.
      +image(imagesFolder+'wig-basis.png','Основа парика')

      h3 Технология modulcap от NJ Creation
      p Компания придумала решение modulcap – вшитые в парик резинки , которые регулируют его по размеру и форме. В результате стандартный размер парика превращается в индивидуальный. 

      h3 Особенности подбора размера
      p Не стоит брать парик меньше подходящего вам размера. В данном случае отрегулировать размер невозможно, а , увеличить парик очень сложно и делать это самостоятельно не рекомендуется. 
      p Если вы хотите выбрать парик, который немного больше вашего размера, то есть три варианта:
      +list-numbered([
        'Можно воспользоваться регулировкой размера',
        'Иногда помогает ношение специальной шапочки под париком',
        'Можно попробовать ушить парик. Здесь важно не испортить основу парика, поэтому эту задачу лучше поручить профессионалам.'
      ])
      p Учтите, что парики имеют свойство постепенно принимать форму головы владельца. Поэтому даже если во время примерки парик ощущается не очень комфортно, то через несколько дней носки он "сядет" по голове. Обычно человек, который впервые начинает носить парик, привыкает к нему где-то через неделю постоянной носки, даже если в начале был психологический дискомфорт.


      h2 Приглашаем на примерку в Санкт-Петербурге
      p Ждем вас в нашем магазине париков по адресу: г. Санкт-Петербург, наб. Обводного канала, д. 108. Наши двери открыты для вас ежедневно, с 10:00 до 21:00. В наличии и под заказ большой выбор готовых и индивидуальных моделей париков. Позвоните нам по телефону: …, чтобы записаться на выбор парика.
  block styles
    +style('inner')
