extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/kak-podobrat-parik-sootvetstvenno-zhelaemomu-tsvetu/'
  .container
    .content
      p Из-за индивидуальных настроек монитора и&nbsp;разной освещенности, 
        strong настоящий цвет
        |  парика может 
        strong сильно отличаться
        |  от&nbsp;того, что вы&nbsp;видите на&nbsp;экране.
      p Если вы&nbsp;хотите подобрать цвет парика к&nbsp;какому-либо 
        strong конкретному цвету
        | , например, вашему натуральному цвету волос, мы&nbsp;можем предложить вам следующие варианты.


      h2 1) Подобрать цвет по&nbsp;пряди ваших волос
      p Вы&nbsp;можете прислать нам 
        strong письмом 
        |  небольшую прядь ваших волос или волос вашего парика. Наш опытный специалист 
        strong подберет цвет
        | . В&nbsp;письме необходимо указать 
        strong название
        |  и&nbsp;
        strong марку изделия
        | , к&nbsp;которому требуется подобрать цвет.

      h3 Подготовка пряди
      p Отрежьте прядь хотя&nbsp;бы 3&times;5&nbsp;см (желательно потолще, так как это упростит нам подбор цвета). Убедитесь, что срезанная прядь именно того цвета, который вы&nbsp;хотели&nbsp;бы подобрать. Затем аккуратно приклейте ее&nbsp;полоской скотча на&nbsp;лист простой белой бумаги и&nbsp;положите в&nbsp;конверт. Напишите на&nbsp;конверте имя, номер телефона, e-mail и&nbsp;
        strong номер заказа
        | , а&nbsp;также модель парика, которую вы&nbsp;заказываете.


      h2 2) Подобрать цвет по&nbsp;фотографии

      p Вы&nbsp;можете отправить нам по&nbsp;
        strong электронной почте
        |  фотографию волос.
      p Если вы&nbsp;подбираете парик под свой собственный цвет волос или цвет волос подруги, лучше сделать 
        strong несколько фотографий
        |  при разном 
        strong освещении
        |  для сравнения.
      p Также вы&nbsp;можете отправить нам 
        strong любое фото цвета волос
        | , которое вам нравится, например, фото знаменитости или модели из&nbsp;модного журнала.
      p Мы&nbsp;свяжемся с&nbsp;вами, как только фотографии будут получены, и&nbsp;согласуем с&nbsp;вами выбор.

      h2 3) Подобрать цвет на&nbsp;основе вашего текущего цвета парика

      p Если у&nbsp;вас уже есть опыт ношения парика, вы&nbsp;можете просто сообщить нам 
        strong модель/марку и&nbsp;цвет изделия
        | , которое вы&nbsp;используете. Мы&nbsp;подберем точный аналог из&nbsp;нашего ассортимента.

      h2 4) Подобрать цвет по&nbsp;бесплатной палитре Estel
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
          +image(imagesFolder+'palette.jpg', 'Палитра волос Estelle')
        +block-wrap__item(8,8,8,6)
          p Вы&nbsp;можете выбрать понравившийся вам цвет из&nbsp;образцов 
            strong палитры красок Estel
            | . А&nbsp;потом сообщить нам номер из&nbsp;палитры, на&nbsp;основе которого мы&nbsp;подберем вам цвет.
          p Палитру Estel можно найти в&nbsp;
            strong профессиональных магазинах
            |  или в&nbsp;
            strong отделах косметики
            |  продовольственных магазинов (не&nbsp;нужно покупать). Также данная палитра есть в&nbsp;большинстве салонов, где используют данный краситель.




      h2 Консультация
      p 1) Приглашаем
        strong  посетить наш салон париков
        |  по&nbsp;адресу: г. Санкт-Петербург, наб. Обводного канала, д.&nbsp;108. 
        | <br> В&nbsp;наличии около 200&nbsp;париков, которые можно примерить.
        | <br> Наш сотрудник с&nbsp;многолетним опытом работы с&nbsp;париками и&nbsp;оттенками лично подберет лучший вариант из&nbsp;возможных.

      p 2) Консультация по&nbsp;телефону или онлайн (viber, whatsup или skype). Наш сотрудник свяжется с&nbsp;вами, чтобы обсудить возможные варианты и&nbsp;помочь выбрать цвет.
      p Чтобы быстрее достичь понимания перед консультацией, рекомендуем вам определиться со&nbsp;следующими вопросами:
      ul.list-marked
        li Насыщенность цвета: светлые или темные, теплые или холодные оттенки
        li Варианты оттенков
        li Эффекты: мелирование, смешение оттенков, эффект отросших корней
        li Модели из&nbsp;нашего каталога, которые вам понравились
  block styles
    +style('inner')
