extends /blocks/layout/layout

block content
  .container
    .content
      h1 Почему я использую парик?
      p Мы&nbsp;привыкли, что париками пользуются, в&nbsp;основном, люди, у&nbsp;которых имеется какая-то проблема с&nbsp;волосами: волосы полностью или частично выпали, поредели, их&nbsp;качество и/или количество не&nbsp;устраивает их&nbsp;владельца/владелицу. В&nbsp;общем, чтобы внешний облик соответствовал какой-то общепринятой норме. Это в&nbsp;обычной жизни. В&nbsp;&laquo;необычной&raquo; жизни, жизни шоу-бизнеса, театра и&nbsp;иже с&nbsp;ними, парики также находят свое применение. Здесь задача обратная той, которую ставят перед собой люди из&nbsp;первой группы. Если те&nbsp;хотят &laquo;выглядеть как все&raquo;, то&nbsp;эти при помощи париков наоборот хотят отличаться и&nbsp;меняться. Удивительно, как один и&nbsp;тот&nbsp;же предмет может служить совершенно разным целям.
      p Но! Оказывается, есть еще одна категория пользователей. И&nbsp;таких женщин (а&nbsp;женщин в&nbsp;ней все-таки большинство) немало. Наверняка у&nbsp;каждого из&nbsp;вас есть знакомая, которая очень щепетильно относится к&nbsp;своей внешности. &laquo;Щепетильно&raquo;&nbsp;&mdash; это еще мягко сказано. Все-таки забота о&nbsp;собственной внешности в&nbsp;той или иной степени свойственна 99,9% особей женского пола. Так вот у&nbsp;этих &laquo;щепетильных&raquo; забота о&nbsp;внешности стоит на&nbsp;самом высоком пьедестале, который только можно себе представить. Причем у&nbsp;разных представительниц разные &laquo;пунктики&raquo;. Некоторые не&nbsp;могут показаться врачу, не&nbsp;подведя брови, некоторые не&nbsp;могут выйти из&nbsp;дома с&nbsp;ненакрашенными глазами/губами/щеками/ногтями/без сережек/ без сумочки в&nbsp;тон туфлям и&nbsp;т.д.&nbsp;и&nbsp;т.п. Список можно продолжать до&nbsp;бесконечности. И&nbsp;вот мы&nbsp;приближаемся к&nbsp;пунктику, который интересен нам&nbsp;&mdash; волосы, прическа, укладка, наличие или отсутствие челки, цвет и&nbsp;т.п. Представляете, сколько времени у&nbsp;таких женщин занимает &laquo;приведение себя в&nbsp;порядок&raquo;! Какой арсенал укладочных средств, аксессуаров, приборов для укладки волос должен храниться у&nbsp;них дома, а&nbsp;в&nbsp;случае поездок (!!!) перемещаться вместе с&nbsp;ними в&nbsp;их&nbsp;сумочке??!! Купание в&nbsp;море или поход в&nbsp;аквапарк или бассейн для них сродни самому страшному кошмару (там&nbsp;же нет нормального фена!!!). А&nbsp;если надо поехать в&nbsp;гости на&nbsp;дачу? А&nbsp;если там баня и&nbsp;сауна и&nbsp;т.п.? Ну&nbsp;нельзя&nbsp;же отказываться от&nbsp;всех этих удовольствий! Наиболее предприимчивые и&nbsp;находчивые среди &laquo;щепетильных&raquo; используют для решения своей задачи не&nbsp;что иное, как парик. Выйдя из&nbsp;бассейна, можно просто сразу надеть на&nbsp;голову уже уложенный, подобранный заранее по&nbsp;форме и&nbsp;цвету, парик. Современное синтетическое волокно прекрасно держит форму, которая сохраняется и&nbsp;после мытья, во&nbsp;время всего срока эксплуатации изделия. Выбрать парик таким дамам совсем непросто. Очень уж&nbsp;они требовательны. Но&nbsp;все возможно, если есть желание. Зато выбрав подходящий парик, сколько возможностей остаются открытыми. Насколько легче может быть их&nbsp;сумочка при поездке к&nbsp;друзьям на&nbsp;дачу или при походе в&nbsp;аквапарк! Современный парик из&nbsp;искусственного волокна может весить около 100&nbsp;г. Не&nbsp;сравнить с&nbsp;весом фена, баллончиков с&nbsp;лаком и&nbsp;муссом.
      p Милые дамы! Не&nbsp;лишайте себя удовольствий! Помните, всегда можно выглядеть на&nbsp;высоте, если есть желание и&nbsp;творческий подход!
  block styles
    +style('inner')
