extends /blocks/layout/layout

block content
  +container
    +content
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,12,6)
          p Продаем шиньоны и хвосты из коллекций французской марки NJ Creation и немецкой Ellen Wille.
          p Шиньоны — это женская прическа из накладных волос, подобранных на затылке.
          p В наличии шиньоны из натуральных, либо искусственных волос, способных украсить любую женщину. Шиньоны, как правило, используют в качестве дополнения к собственной прическе, чтобы придать ей особый шик. Кроме того, шиньоны применяются для увеличения густоты волос, а при необходимости и длины. 
          p Благодаря шиньону смена имиджа за считанные минуты доступна каждому.
      h2 Шиньоны немецкого производителя Ellen Wille
      +block-wrap({'wrap':true})
        +block-wrap__item(3,3,3,3)
          +image-desc(
            '/images/ponytail/just-nature.jpg',
            'Светлые короткие шиньоны – Just Nature'
          )
        +block-wrap__item(3,3,3,3)
          +image-desc(
            '/images/ponytail/fill-in.jpg',
            'Темные короткие шиньоны – Fill in'
          )
        +block-wrap__item(3,3,3,3)
          +image-desc(
            '/images/ponytail/matrix.jpg',
            'Светлые длинные шиньоны – Matrix'
          )
        +block-wrap__item(3,3,3,3)
          +image-desc(
            '/images/ponytail/effect.jpg',
            'Темные длинные шиньоны – Effect'
          )
      h2 Шиньоны французского производителя NJ Creation
      p Самые популярные шиньоны в форме хвоста, сделанного из длинных волос. Хвост это разновидность шиньона. 
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,3)
          +image-desc(
            '/images/ponytail/praline.jpg',
            'Praline кудрявые хвосты'
          )
        +block-wrap__item(4,4,4,3)
          +image-desc(
            '/images/ponytail/reglisse.jpg',
            'Reglisse длинные хвосты'
          )
        +block-wrap__item(4,4,4,3)
          +image-desc(
            '/images/ponytail/marrakech.jpg',
            'Marrakech темные хвосты'
          )
      +text-highlighted
        p
          strong В магазине еще больше моделей, цветов, длин шиньонов.
        p Цены на изделия зависят от длины волос и фасона изделия. В наличии популярные цвета блонда, темных, седых, рыжих оттенков.
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,12,6)
          h2 Приглашаем примерить и купить шиньоны в магазин в Санкт-Петербурге
          p Приглашаем всех заинтересованных на бесплатную консультацию по постижерным изделиям. Наш адрес: г Санкт-Петербург, набережная обводного канала 108. Магазин шиньонов и хвостов открыт с 10 утра до 9 вечера, ежедневно.
          p Звоните, проконсультируем по наличию цветов и размеров шиньонов:<br>
            strong +7 (812) 386-11-62
          | <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&amp;height=370&amp;lang=ru_RU&amp;sourceType=constructor"></script> 
  block styles
    +style('inner')
