extends /blocks/layout/layout

block content
  +container
    +content
      +breadcrumbs
      h1 Деликатный шампунь OTIUM COLOR LIFE #[br] #[small Для окрашенных волос]
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
          .bx_item_slider
            .bx_bigimages
              .bx_bigimages_imgcontainer
                span.bx_bigimages_aligner
                  img(src="/images/product-page/product.jpg" loading='lazy' decoding='async')
                .product-discount -5%
        +block-wrap__item(8,8,8,6)
          .product-articul Артикул: #[span 8620]
          .product-top
            +block-wrap({'wrap':true, 'nopadding':true}).product-price
              //- +block-wrap__item(3,6,6,6).item-product__fullprice-wrapper
              //-   p Обычная цена
              //-   span.item-product__fullprice 948 руб.
              +block-wrap__item(3,6,6,6).item-product__discountprice-wrapper
                //- p Акционная цена
                //- .item_current_price 790 руб.
                a(href="#availability").btn.product-buy-one-click.modal-link-availability Предзаказ
                <div class="modal" id="availability">
                  <a class="modal__close" href="" rel="modal:close">×</a>
                  <div class="modal_body">
                  <div class="modal__header">Сообщить о поступлении</div>
                  <form method="post" class="modal-availability validated-form submitJS" name="modal-availability">
                    <div class="form-field form-field-phone">
                      label(for="name") Имя
                      <input id="name" type="text" name="name" class="validated required" >
                      <div class="validation-msg validation-msg-required">Обязательное поле</div>
                    </div>
                    <div class="form-field form-field-phone">
                      label(for="phone") Телефон
                      <input id="phone" type="tel" name="phone" class="validated required" placeholder="+7 (___) ___-__-__">
                      <div class="validation-msg validation-msg-required">Обязательное поле</div>
                    </div>
                    <input type="submit" value="Заказать" class="btn">
                    <div class="form-field modal-availability__agreement">
                      <input type="checkbox" id="agreement" name="modal-availability__agreement" class="validated required" checked="" required="">
                      <label for="modal-availability__agreement">Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>.</label>
                    </div>
                  </form>
                </div>
              </div>

              +block-wrap__item(6,12,12,12).item-product__discount-period
                p До окончания акции:
                <p id="countdown" class="countdownHolder">
                <span class="countDays">
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">1</span>
                  </span>
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">9</span>
                  </span>
                </span>
                <span class="countDiv countDiv0">
                </span>
                <span class="countHours">
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">0</span>
                  </span>
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">5</span>
                  </span>
                </span>
                <span class="countDiv countDiv1"></span>
                <span class="countMinutes">
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">5</span>
                  </span>
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">8</span>
                  </span>
                </span>
                <span class="countDiv countDiv2"></span>
                <span class="countSeconds">
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">2</span>
                  </span>
                  <span class="position">
                    <span class="digit static" style="top: 0px; opacity: 1;">8</span>
                </span>
                </span>
                </p>
          
          .item_info_section
          span.item_section_name_gray#quantityBlockLabel Количество
          .item_buttons.vam
            <span class="item_buttons_counter_block" id="quantityBlock">
              <a href="javascript:void(0)" class="bx_bt_button_type_2 bx_small bx_fwb" id="bx_117848907_8620_quant_down">-</a>
              <input id="bx_117848907_8620_quantity" type="text" class="tac transparent_input" value="1">
              <a href="javascript:void(0)" class="bx_bt_button_type_2 bx_small bx_fwb" id="bx_117848907_8620_quant_up">+</a>
              <span class="bx_cnt_desc" id="bx_117848907_8620_quant_measure">шт</span>
            </span>

            <span class="item_buttons_counter_block" id="bx_117848907_8620_basket_actions" style="display: ;">
              <a href="javascript:void(0);" class="btn-big product-buy__button" id="bx_117848907_8620_add_basket_link">Добавить в корзину</a>
            </span>

              <span id="bx_117848907_8620_subscribe" class="bx_big bx_bt_button bx-catalog-subscribe-button" data-item="8620" style="display: none;"><span>Подписаться</span></span>
            <input type="hidden" id="bx_117848907_8620_subscribe_hidden">

          //- include ../blocks/product-top/product-top
          //- include ../blocks/product-palette/product-palette
          //- include ../blocks/product-notice/product-notice
          //- include ../blocks/product-buy/product-buy
          //- include ../blocks/product-properties/product-properties
          h2 Описание
          p Сохранение насыщенности оттенка, глубокое увлажнение, повышение прочности волос, шелковистость, гладкость и яркий блеск — за счет формулы с Na-PCA, протеинами шелка и UV-фильтром.
          p Идеальное решение для окрашенных волос.
          p Обладает красочным ароматом с нотами черной смородины, груши, розы, жасмина и сандалового дерева.
          p Estel Otium Color life - подходит для изделий с натуральными окрашенными волосами (предпочтительно темные оттенки), так как краситель имеет свойство вымываться эта линейка притормозит смывание цвета и придаст блеска волосам.
      include /blocks/product-tabs/product-tabs     
  //-     +h2('Похожие парики')
  //-     include ../blocks/product-similar/product-similar
  //-     +h2('Отзывы клиентов о Active Look — Annika Hansen')
  //-     +block-wrap({'wrap':true})
  //-       +block-wrap__item(8,8,8,6)
  //-         p(style='width: 100%; height 300px; background-color:#ccc') здесь отзывы
  //-     +h2('Рекомендуем средства по уходу за париками')
  //-     include ../blocks/product-recommended/product-recommended
  //-     +h2('Просмотренные  ранее  товары')
  //-     include ../blocks/product-viewed/product-viewed
  //- +modal('Цвет парика')#product-color-modal.product-color-modal 
  //-   p У каждого парика десятки разных цветов, цвета париков из разных коллекций тоже отличаются.
  //-     | <br>Если показажем в подборе парика все возможные цвета их будет 400 оттенков.
  //-   p Для простоты поиска, мы выбрали основные цвета:
  //-   div(style='width: 200px; height: 64px; background-color: #ccc') здесь цвета
  //-   p Выберите "светлый" и увидите все парики у которых есть оттенок белого. Например парики блонд.
  block styles
    +style('inner')
