.header-basket
  padding calc(.5rem + 4px) 0 0 24px
  padding-bottom 0.1875rem
  display flex
  flex-direction column
  justify-content space-between
  height 100%
  &__register
    font-size 0.8125rem
    font-weight 500
    margin-bottom 1em
  &__summary
    position relative
    padding-left 48px
    font-size 0.9375rem
    display block
    &::before
      content ''
      display block
      position absolute
      bottom 0
      left 0
      width 36px
      height 49px
