.navigation-other-activities
  width 100%
  &__list
    display flex
    margin-left -5px
  &__item
    flex 1 1 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    display flex
    a
    .a-repl
      position relative
      display flex
      justify-content space-between
      width 100%
      align-items center
      margin-bottom 5px
      padding 4px 10px
      span
        flex 0 1 auto
      &::after
        content ''
        flex-shrink 0
    &:first-of-type
      a::after
        width 52px
        height 37px
    &:nth-of-type(2)
      a::after
        width 23px
        height 30px
    &:nth-of-type(3)
      .a-repl::after
        width 52px
        height 37px
    &:nth-of-type(4)
      a::after
        width 14px
        height 35px
    &:nth-of-type(5)
      a::after
        content ''
        width 42px
        height 37px
