.quick-buy
  display flex
  width 100%
  &__row 
    .form-field
      width 60%
    input[type="tel"]
      border 1px solid #cfcfcf
      background-color #fff
      padding 5px 8px
      width 100%
      height 38px
      font-family "Fira Sans"
