include /blocks/link-icons/link-icons
block head
  - isContactsPage = true
+block-wrap({'wrap':true})
  +block-wrap__item(5,6,6,6)
    .contacts-item 
      +h2('Адрес').contacts-item__header 
      p.contacts-item__big
        | г. Санкт-Петербург
        | <br>наб. Обводного канала д. 108
      | работаем ежедневно с 10 до 21
    .contacts-item 
      +h2('Телефоны').contacts-item__header 
      p.contacts-item__big +7 (812) 413-99-06
      p.contacts-item__big +7 (921) 571-01-24
      +block-wrap({'padding': 'y', 'align': 'center', 'par-like': true})
        +block-wrap__item(3, 3, 4, 2): +linkIcons([ 'viber', 'whatsapp', 'telegram' ])
        +block-wrap__item(9, 9, 8, 4): p Напишите нам в Viber, WhatsApp или Telegram, добавив наш номер 
          strong(style='white-space: nowrap') +7 (921) 571 01 24
          |  в список контактов.
    .contacts-item 
      +h2('Почта').contacts-item__header 
      p.contacts-item__big
        +link('mailto:mail@vsepariki.com','mail@vsepariki.com')
    .contacts-item 
      +h2('Skype').contacts-item__header 
      p.contacts-item__big HairDesignCenter
  +block-wrap__item(7,6,6,6)
    .contacts-map
      script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&height=370&lang=ru_RU&sourceType=constructor")
      +h2('Где припарковаться на машине').contacts-map__subheader
      p У входа в салон есть удобная бесплатная парковка. Вторая парковка на набережной Обводного канала, напротив входа  в салон.
      +h2('Для тех, кто на метро').contacts-map__subheader
      p Ближайшие станции  Балтийская и Фрунзенская. Пешком 10-15 минут.
  +block-wrap__item(8,6,6,6)
    +image-desc('/images/contacts/entrance.jpg','Вход в центре здания со стороны набережной').contacts-entrance
h2 Видео 360 градусов
video(playsinline id="video360" class="video-js vjs-default-skin" controls preload="auto" poster="https://vsepariki.com/video/3dtur.jpg")
  source(src="https://vsepariki.com/video/3dtur.webm" type="video/webm")
