.contacts-item
  &__header
    font-size 1.25rem
    color #7a7a7a
  &__big
    margin-bottom .75rem
    font-size 1.5rem
    font-weight 500
    line-height 2.25rem
  &__viber
    padding-left 32px
    background url('../images/viber.png') no-repeat left center
    font-size .875rem
.contacts-map
  margin-top 1.5rem
  &__subheader
    font-size 1.25rem
.contacts-entrance
  margin-top 1.5rem
