include ../catalog-product/catalog-product
mixin catalog-list__item
  +block-wrap__item(2,2,2,3).product-recommended__item
    block

+block-wrap({'wrap':true}).product-recommended
  - for (let i =0; i<6; i++)
    +catalog-list__item 
      +catalog-product({
        "image":"/images/catalog/product-3.jpg",
        "name":"Деликатный шампунь OTIUM COLOR LIFE | Для окрашенных волос",
        "price":"711",
        'oldPrice': '790',
      })
  //- +catalog-list__item 
  //-   +catalog-product({
  //-     "image":"images/catalog/product-2.png",
  //-     "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
  //-     "price":"11 500"
  //-   })
  //- +catalog-list__item 
  //-   +catalog-product({
  //-     "image":"images/catalog/product-1.png",
  //-     "name":"Activ Look — Annica HansenDream ",
  //-     "price":"11 500"
  //-   })
  //- +catalog-list__item 
  //-   +catalog-product({
  //-     "image":"images/catalog/product-2.png",
  //-     "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
  //-     "price":"11 500"
  //-   })
  //- +catalog-list__item 
  //-   +catalog-product({
  //-     "image":"images/catalog/product-1.png",
  //-     "name":"Activ Look — Annica HansenDream ",
  //-     "price":"11 500"
  //-   })
  //- +catalog-list__item 
  //-   +catalog-product({
  //-     "image":"images/catalog/product-2.png",
  //-     "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
  //-     "price":"11 500"
  //-   })
