form.home-filter-form
  fieldset.home-filter-form__fieldset
    legend.home-filter-form__header Подобрать парик
    .home-filter-form__types

      .home-filter-form__type
        .home-filter-form__subheader Наличие
        .home-filter-form__row
          label.home-filter-form__input
            input(type='checkbox' name='availability')
            |  В наличии
      .home-filter-form__type
        .home-filter-form__subheader Тип
        .home-filter-form__row
          label.home-filter-form__input
            input(type='radio' name='type' value='type-for-men')
            |  Мужской
          label.home-filter-form__input
            input(type='radio' name='type' value='type-for-women')
            |  Женский
          label.home-filter-form__input
            input(type='radio' name='type' value='type-for-children')
            |  Детский
      .home-filter-form__type
        .home-filter-form__subheader Оттенок
        .home-filter-form__row
          label.home-filter-form__input
            input(type='radio' name='color' value='color-dark')
            |  Тёмный
          label.home-filter-form__input
            input(type='radio' name='color' value='color-light')
            |  Светлый
          label.home-filter-form__input
            input(type='radio' name='color' value='color-ginger')
            |  Рыжий
      .home-filter-form__type
          
        .home-filter-form__subheader Длина
        .home-filter-form__row
          label.home-filter-form__input
            input(type='radio' name='length' value='length-short')
            |  Короткий
          label.home-filter-form__input
            input(type='radio' name='length' value='length-middle')
            |  Средний
          label.home-filter-form__input
            input(type='radio' name='length' value='length-long')
            |  Длинный
      .home-filter-form__type
            
        .home-filter-form__subheader Материал
        .home-filter-form__row
          label.home-filter-form__input
            input(type='radio' name='material' value='material-natural')
            |  Натуральный
          label.home-filter-form__input
            input(type='radio' name='material' value='material-artificial')
            |  Искусственный
    .home-filter-form__bottom
      button.home-filter-form__submit.btn(type='submit') Подобрать
      +link('','Перейти в расширенный подбор').home-filter-form__link
