.article-info
  --icon-size 1.25rem
  display flex
  flex-wrap wrap
  align-items center
  column-gap 1rem
  row-gap 0.25rem
  font-size 0.875rem
  color #7a7a7a
  @media(max-width 480px)
    gap 0.5rem
  &__icon
    display flex
    align-items center
    gap 0.25rem
    &::before 
      content '' 
      width var(--icon-size)
      height var(--icon-size)
      background-image var(--before-background-image)
      background-repeat no-repeat
      background-position center
      background-size cover
    for icon in time viewing
      &--{icon}
        --before-background-image url('../images/svg-sprites/common.svg#' + icon)
