mixin articleInfo
  .article-info&attributes(attributes)
    .article-info__icon.article-info__icon--time 11 минут
    .article-info__date 20 марта 2023
    .article-info__icon.article-info__icon--viewing 1111
