.home-slider
  position relative
  &__item
    img
      height 100%
.fotorama
  width 100%
  &__nav
    position absolute !important
    bottom 0 !important
    width 100%
    z-index 10000 !important
    &__frame
      .fotorama__dot
        width 10px !important
        height 10px !important
        border none
        top 10px !important
        left 4px !important
  &__arr
    width 40px !important
    height 32px !important
    border 1px solid #baafcd
    &--prev
      left 0
      &::before
        content '←'
        display block
        width 40px
        height 32px
        line-height 32px
        top 0
        left 0
    &--next
      right 0
      &::before
        content '→'
        display block
        width 40px
        height 32px
        line-height 32px
        top 0
        left 0
