.home-slider
  .fotorama
    .home-slider__item: img(src='//dummyimage.com/776x378' width=776 height=378)
    .home-slider__item: img(src='//dummyimage.com/776x378')
    .home-slider__item: img(src='//dummyimage.com/776x378')
    .home-slider__item: img(src='//dummyimage.com/776x378')
