.home-slider
  &__item
    background-color #fff
.fotorama
  &__nav
    &__frame
      .fotorama__dot
        border-radius 0
        background #fff
  &__active
    .fotorama__dot
      background-color #7b66a1
  &__arr
    background-color #fff
    color #baafcd
    &:hover
      background-color #baafcd
      color #fff
    &--prev
      &::before
        text-align center
    &--next
      &::before
        text-align center
