.catalog-description

  +h2('Купить хороший парик в Санкт-Петербурге (Спб)')

  +h3('Цвет парика, до 30 оттенков у каждого парика')
  p У каждого парика дестяки оттенков. Вначале определитесь с цветом в общем списке. Если вы хотите купит парик блондике - выберите цвет светлый, выберите понравившийся парик на подробной странице товара есть выбор между оттенками.
  p Предлагаем на ваш выбор:
  .catalog-description__palette
    .catalog-description__palette-item
      +image-desc('/upload/uf/3db/3db8bc0be7ad975ffbff43ebfa1fbeeb.jpg', '<a href=\"/catalog/pariki/blond/\">Блонд</a>', '')
    .catalog-description__palette-item
      +image-desc('/upload/uf/f31/f3194b4a38e42c7a3a9f6f5796211094.jpg', '<a href=\"/catalog/pariki/blond/\">Светлый</a>', '')
    .catalog-description__palette-item
      +image-desc('/upload/uf/db9/db998bb68cd6cc1c7770410dc6a90961.jpg', '<a href=\"/catalog/pariki/blond/\">Темный</a>', '')
    .catalog-description__palette-item
      +image-desc('/upload/uf/f39/f394e5c62dde67084e7213a0d96fbe4b.jpg', '<a href=\"/catalog/pariki/blond/\">Шатен</a>', '')
    .catalog-description__palette-item
      +image-desc('/upload/uf/84c/84cab2b4758035dc6c315fb8177a9d96.jpg', '<a href=\"/catalog/pariki/blond/\">Рыжий</a>', '')
    .catalog-description__palette-item
      +image-desc('/upload/uf/ce2/ce22e715084adf3cedaca6923f2a345b.jpg', '<a href=\"/catalog/pariki/blond/\">Седой</a>', '')
  +h3('Материал волос')
  ul.list-marked
    li
      a(href='/catalog/pariki/iskusstvennyy/') Искусственные парики
      |  — изготавливают из синтетических волокон (канекалона), которые подвергаются специальной обработке.
    li
      a(href='/catalog/pariki/naturalnyy/') Натуральные парики
      |  — изготавливают из натуральных человеческих волос.
    li
      a(href='/catalog/pariki/smeshannyy/') Смешанные парики
      |  — изготавливают из смеси термостойких искусственных и натуральных волос.
  +h3('Длина волос')
  +block-wrap
    +block-wrap__item(3,3,3,2)
      +image-desc('/images/length/short.jpg', '<a href=\"/catalog/pariki/korotkiy/\">Короткие парики</a>', 'Короткие парики', 'Короткие парики')
    +block-wrap__item(3,3,3,2)
      +image-desc('/images/length/middle.jpg', '<a href=\"/catalog/pariki/sredniy/\">Средние парики</a>', 'Средние парики', 'Средние парики')
    +block-wrap__item(3,3,3,2)
      +image-desc('/images/length/long.jpg', '<a href=\"/catalog/pariki/dlinnyy/\">Длинные парики</a>', 'Длинные парики', 'Длинные парики')
  +h3('Размер парика: от маленьких для детей и подростков до больших')
  ul.list-marked
    li для большинства женщин — 
      a(href='/catalog/pariki/filter/size-is-standartnyy/apply/') парики стандартного размера,
    li для большинства мужчин — 
      a(href='/catalog/pariki/filter/size-is-bolshoy/apply/') парики большого размера,
    li для детей и женщин с маленьким размером головы — 
      a(href='/catalog/pariki/filter/size-is-malenkiy/apply/') парики маленького размера.
  +h3('Структура волос')
  +block-wrap
    +block-wrap__item(3,3,3,2)
      +image-desc('/images/structure/structure-1.jpg', '<a href=\"/catalog/pariki/pryamoy/\">Прямые волосы</a>', 'Прямые волосы', 'Прямые волосы')
    +block-wrap__item(3,3,3,2)
      +image-desc('/images/structure/structure-2.jpg', '<a href=\"/catalog/pariki/volnistyy/\">Волнистые волосы</a>', 'Волнистые волосы', 'Волнистые волосы')
    +block-wrap__item(3,3,3,2)
      +image-desc('/images/structure/structure-3.jpg', '<a href=\"/catalog/pariki/kudryavyy/\">Кудрявые волосы</a>', 'Кудрявые волосы', 'Кудрявые волосы')
  +h2('Где можно купить парик в Спб?')
  p Приходите, наши консультанты помогут подобрать парик идеально подходящий для вас. Специалисты с 10 летним стажем, расскажут как ухаживать за париком, как крепче фиксировать.
  p Магазин находится в Санкт-Петербурге на набережной 
    strong Обводного канала, дом 108.
  p Работаем с 10 до 21 ежедневно.
  +h2('Сколько стоит парик?')
  p Цена на парик зависит от 
    strong материала волос, типа основы парика и длины волос.
    | <br>Самые 
    a(href='/catalog/pariki/dorogoy/') дорогие парики
    |  - это длинные натуральные волосы и основа ручной работы или монофиламента.
    | <br>К 
    a(href='/catalog/pariki/filter/price_category-is-sredniy/apply/') средней ценовой категории
    |  относятся короткие парики из натуральных волос с основой из тресс или парики из искусственных волос с основой из монофиламента.
    | <br>К 
    a(href='/catalog/pariki/ekonom/') эконом классу
    |  относятся недорогие короткие парики из искусственных волос с основой из тресс.
  p У нас 
    strong цены от производителя
    | , поэтому купить парик дешево - это к нам!
  +h2('Продажа париков в другие города')
  p Доставим быстро транспортными компаниями или дешево почтой России в другие города России и зарубежья. Консультант по телефону поможет замерить размер головы, чтобы подобрать точный размер.
