.home-discount-slider
  margin-bottom 1.5rem
  &__slider
    background-color #fae6e3
    @media (max-width 786px)
      background-color #fdf2f1
  &__item
    display flex
    gap 2rem
    justify-content center
    margin 2.5rem 3.5rem
    padding 2rem
    background-color #fdf2f1
    @media screen and (min-width 786px)
      align-items center
    @media screen and (max-width 786px)
      flex-direction column
      margin 0
  &__info
    display flex
    flex-direction column
    align-items flex-start
    gap 1rem
    max-width 26rem
    min-width 20rem
  &__title
    font-size 1.625rem
    font-weight 500
    mark
      background-color transparent
      color #7b66a1
  &__description
    font-size 1.25rem
    line-height 1.5
  &__image
    max-height 330px
    @media screen and (min-width 786px)
      margin-top -3.5rem
  &__btn
    padding-top 0.5rem
    padding-bottom 0.5rem
    font-size 1.125rem
  &__header
    margin-bottom 3rem
    font-size 1.875rem
    font-weight 500
    line-height 2.25rem
    text-align center
  .countdown
    margin 0
    margin-bottom 1rem
