.block-wrap
	display flex
	margin-left -12px
	margin-right -12px
	width calc(100% + 24px)
	@media screen and (max-width 1024px)
		margin-left -6px
		margin-right -6px
		width calc(100% + 12px)
	@supports (display grid)
		display grid
		grid-template-columns repeat(12, 1fr)
	&_wrap
		flex-wrap wrap
	&_justify-flex-end
		justify-content flex-end
	&_justify-center
		justify-content center
	&_justify-space-around
		justify-content space-around
	&_justify-space-between
		justify-content space-between
	&_align-center
		align-items center
	&_align-baseline
		align-items baseline
	&_align-flex-start
		align-items flex-start
	&_align-flex-end
		align-items flex-end
	&_column
		flex-direction column

	&__item
		padding-left 12px
		padding-right 12px
		flex-grow 0
		@media screen and (max-width 1024px)
			padding-left 6px
			padding-right 6px
		&_xl-width12
			flex-basis 100%
			max-width 100%
			@supports (display grid)
				grid-column span 12
				max-width none
		&_xl-width11
			flex-basis calc(100% / 12 * 11)
			max-width calc(100% / 12 * 11)
			@supports (display grid)
				grid-column span 11
				max-width none
		&_xl-width10
			flex-basis calc(100% / 12 * 10)
			max-width calc(100% / 12 * 10)
			@supports (display grid)
				grid-column span 10
				max-width none
		&_xl-width9
			flex-basis calc(100% / 12 * 9)
			max-width calc(100% / 12 * 9)
			@supports (display grid)
				grid-column span 9
				max-width none
		&_xl-width8
			flex-basis calc(100% / 12 * 8)
			max-width calc(100% / 12 * 8)
			@supports (display grid)
				grid-column span 8
				max-width none
		&_xl-width7
			flex-basis calc(100% / 12 * 7)
			max-width calc(100% / 12 * 7)
			@supports (display grid)
				grid-column span 7
				max-width none
		&_xl-width6
			flex-basis calc(100% / 12 * 6)
			max-width calc(100% / 12 * 6)
			@supports (display grid)
				grid-column span 6
				max-width none
		&_xl-width5
			flex-basis calc(100% / 12 * 5)
			max-width calc(100% / 12 * 5)
			@supports (display grid)
				grid-column span 5
				max-width none
		&_xl-width4
			flex-basis calc(100% / 12 * 4)
			max-width calc(100% / 12 * 4)
			@supports (display grid)
				grid-column span 4
				max-width none
		&_xl-width3
			flex-basis calc(100% / 12 * 3)
			max-width calc(100% / 12 * 3)
			@supports (display grid)
				grid-column span 3
				max-width none
		&_xl-width2
			flex-basis calc(100% / 12 * 2)
			max-width calc(100% / 12 * 2)
			@supports (display grid)
				grid-column span 2
				max-width none
		&_xl-width1
			flex-basis calc(100% / 12)
			max-width calc(100% / 12)
			@supports (display grid)
				grid-column span 1
				max-width none

		&_l-width12
			@media screen and (max-width 1200px)
				flex-basis 100%
				max-width 100%
				@supports (display grid)
					grid-column span 12
					max-width none
		&_l-width11
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 11)
				max-width calc(100% / 12 * 11)
				@supports (display grid)
					grid-column span 11
					max-width none
		&_l-width10
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 10)
				max-width calc(100% / 12 * 10)
				@supports (display grid)
					grid-column span 10
					max-width none
		&_l-width9
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 9)
				max-width calc(100% / 12 * 9)
				@supports (display grid)
					grid-column span 9
					max-width none
		&_l-width8
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 8)
				max-width calc(100% / 12 * 8)
				@supports (display grid)
					grid-column span 8
					max-width none
		&_l-width7
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 7)
				max-width calc(100% / 12 * 7)
				@supports (display grid)
					grid-column span 7
					max-width none
		&_l-width6
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 6)
				max-width calc(100% / 12 * 6)
				@supports (display grid)
					grid-column span 6
					max-width none
		&_l-width5
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 5)
				max-width calc(100% / 12 * 5)
				@supports (display grid)
					grid-column span 5
					max-width none
		&_l-width4
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 4)
				max-width calc(100% / 12 * 4)
				@supports (display grid)
					grid-column span 4
					max-width none
		&_l-width3
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 3)
				max-width calc(100% / 12 * 3)

				@supports (display grid)
					grid-column span 3
					max-width none
		&_l-width2
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12 * 2)
				max-width calc(100% / 12 * 2)
				@supports (display grid)
					grid-column span 2
					max-width none
		&_l-width1
			@media screen and (max-width 1200px)
				flex-basis calc(100% / 12)
				max-width calc(100% / 12)
				@supports (display grid)
					grid-column span 1
					max-width none

		&_m-width12
			@media screen and (max-width 1024px)
				flex-basis 100%
				max-width 100%
				@supports (display grid)
					grid-column span 12
					max-width none
		&_m-width11
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 11)
				max-width calc(100% / 12 * 11)
				@supports (display grid)
					grid-column span 11
					max-width none
		&_m-width10
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 10)
				max-width calc(100% / 12 * 10)
				@supports (display grid)
					grid-column span 10
					max-width none
		&_m-width9
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 9)
				max-width calc(100% / 12 * 9)
				@supports (display grid)
					grid-column span 9
					max-width none
		&_m-width8
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 8)
				max-width calc(100% / 12 * 8)
				@supports (display grid)
					grid-column span 8
					max-width none
		&_m-width7
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 7)
				max-width calc(100% / 12 * 7)
				@supports (display grid)
					grid-column span 7
					max-width none
		&_m-width6
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 6)
				max-width calc(100% / 12 * 6)
				@supports (display grid)
					grid-column span 6
					max-width none
		&_m-width5
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 5)
				max-width calc(100% / 12 * 5)
				@supports (display grid)
					grid-column span 5
					max-width none
		&_m-width4
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 4)
				max-width calc(100% / 12 * 4)
				@supports (display grid)
					grid-column span 4
					max-width none
		&_m-width3
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 3)
				max-width calc(100% / 12 * 3)
				@supports (display grid)
					grid-column span 3
					max-width none
		&_m-width2
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12 * 2)
				max-width calc(100% / 12 * 2)
				@supports (display grid)
					grid-column span 2
					max-width none
		&_m-width1
			@media screen and (max-width 1024px)
				flex-basis calc(100% / 12)
				max-width calc(100% / 12)
				@supports (display grid)
					grid-column span 1
					max-width none

		&_s-width6
			@media screen and (max-width 786px)
				flex-basis 100%
				max-width 100%
				@supports (display grid)
					grid-column span 12
					max-width none
		&_s-width5
			@media screen and (max-width 786px)
				flex-basis calc(100% / 6 * 5)
				max-width calc(100% / 6 * 5)
				@supports (display grid)
					grid-column span 10
					max-width none
		&_s-width4
			@media screen and (max-width 786px)
				flex-basis calc(100% / 6 * 4)
				max-width calc(100% / 6 * 4)
				@supports (display grid)
					grid-column span 8
					max-width none
		&_s-width3
			@media screen and (max-width 786px)
				flex-basis calc(100% / 6 * 3)
				max-width calc(100% / 6 * 3)
				@supports (display grid)
					grid-column span 6
					max-width none
		&_s-width2
			@media screen and (max-width 786px)
				flex-basis calc(100% / 6 * 2)
				max-width calc(100% / 6 * 2)
				@supports (display grid)
					grid-column span 4
					max-width none
		&_s-width1
			@media screen and (max-width 786px)
				flex-basis calc(100% / 6)
				max-width calc(100% / 6)
				@supports (display grid)
					grid-column span 2
					max-width none
	&_nopadding
		margin-left 0
		margin-right 0
		width 100%
		.block-wrap__item
			padding-left 0
			padding-right 0
