
mixin block-wrap(settings = {"wrap":false, "nopadding":false, "justify":"", "align-items":"","column":false})
	- var classesList = []
	- var classesString = ''
	if settings.nopadding
		-
			classesList.push('block-wrap_nopadding')
	if settings.wrap
		-
			classesList.push('block-wrap_wrap')
	if settings.column
		-
			classesList.push('block-wrap_column')
	each item in classesList
		- 
			classesString = classesString + item + ' '
	if attributes.class === undefined
		- attributes.class = ''
	.block-wrap(class!=attributes.class + ' ' + classesString)
		block
			
mixin block-wrap__item(xlWidth, lWidth= xlWidth, mWidth= lWidth, sWidth= 6)
	.block-wrap__item(class='block-wrap__item_xl-width' + xlWidth + ' block-wrap__item_l-width' + lWidth+ ' block-wrap__item_m-width' + mWidth+ ' block-wrap__item_s-width' + sWidth class!=attributes.class)
		block
