mixin catalogProductColorsAvailable
  .catalog-product-colors
    //- .catalog-product-colors__title Цвет
    .catalog-product-colors__list
      label.catalog-product-colors__item.catalog-product-colors__item--available
        img(src='/images/catalog/colors/color-1.png')
        input(type="radio" name='color' value='color-1' checked).catalog-product-colors__input
      label.catalog-product-colors__item.catalog-product-colors__item--available
        img(src='/images/catalog/colors/color-1.png')
        input(type="radio" name='color' value='color-1').catalog-product-colors__input
      - for (let i = 0; i < 6; i++)
        label.catalog-product-colors__item.catalog-product-colors__item--unavailable
          img(src='/images/catalog/colors/color-1.png')
          input(type="radio" name='color' value='color-1').catalog-product-colors__input
    .catalog-product-colors__availability В наличии

mixin catalogProductColorsUnavailable
  .catalog-product-colors
    .catalog-product-colors__list
      - for (let i = 0; i < 6; i++)
        label.catalog-product-colors__item.catalog-product-colors__item--unavailable
          img(src='/images/catalog/colors/color-1.png')
          input(type="radio" name='color' value='color-1').catalog-product-colors__input
