.catalog-product-colors
  display flex
  flex-direction column
  row-gap 10px
  &__title
    font-size 0.8125rem
    color #7a7a7a
    font-style italic
    margin-bottom .3rem
  &__list
    display flex
    flex-wrap wrap
    margin-left -2px
    margin-right -2px
  &__item
    margin 3px
    padding 3px
    outline 1px solid var(--outline-color)
    transition scale var(--transition-duration-out)
    &--available
      --outline-color #4CAF50
      cursor pointer
    &--unavailable
      --outline-color #7D7D7D
      opacity 0.8
    &:has(^[0]__input:checked:not(^[0]__input:disabled))
      box-shadow: 0 0 5px 2px #4CAF50
      scale 1.1
    &:hover
      &:has(^[0]__input:not(^[0]__input:disabled))
        scale 1.1
        transition-duration var(--transition-duration-in)
    img
      display block
      width 2.5rem
      height 2.5rem
      background-color #d8d8d8  
  &__input
    display none
  &__availability 
    color #4CAF50
    font-weight 500
