include ../catalog-product/catalog-product
mixin catalog-list__item
  +block-wrap__item(3,3,6,3).home-other-products-list__item
    block

+block-wrap({'wrap':true}).home-other-products-list
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-1.png",
      "name":"Activ Look — Annica HansenDream ",
      "price":"11 500"
    })
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-2.png",
      "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
      "price":"11 500"
    })
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-2.png",
      "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
      "price":"11 500"
    })
  +catalog-list__item 
    +catalog-product({
      "image":"images/catalog/product-2.png",
      "name":"Dream Look — сексуаьный, длинный парик с открытым лбом",
      "price":"11 500"
    })
