.catalog-product
  transition box-shadow var(--transition-duration-out)
  &__name
    & a
      text-decoration none
    & a:hover
      text-decoration underline
  &__price
    color #7b66a1
    font-weight 500
  &__prices
    @media (min-width 1024px)
      background-color #ffffff
      z-index 2
  &__old-price
    color #5e5e5e
    text-decoration line-through
  &__image 
    text-decoration none
  @media (min-width 1024px)
    &:hover
    &:focus
      z-index 66
      background-color #ffffff
      box-shadow 0 0 25px rgba(69,58,90,.8)
      transition-duration var(--transition-duration-in)
      .catalog-product__colors
        display flex
  @media (max-width 1024px)
    padding 16px
    box-shadow 0 0 10px rgba(69, 58, 90, 0.5)
    .catalog-product
      &__name
        white-space normal
  &__colors
    @media (min-width 1024px)
      display none
      position absolute
      top 100%
      left 0
      right 0
      background-color #ffffff
      padding 12px
      z-index 1
      box-shadow 0 0 25px rgba(69,58,90,.8)
  &__discount
    justify-content center
    align-items center
    color #fff
    background-color #B91F33
    border-radius 50%
  &__loader
    display block
    width 45px
    height 45px
    margin 0 auto
    border 4px solid #ededed
    border-left-color #7b66a1
    border-radius 50%
    animation spin 1s linear infinite

@keyframes spin
  0% 
    transform rotate(0deg)
  100% 
    transform rotate(360deg)
