include ../catalog-product-colors/catalog-product-colors 

mixin catalog-product(settings = {"image":"","name":"","price":"","oldPrice":"","colors":false})
  .catalog-product
    a(href='').catalog-product__image
      img(src=settings.image)
      .catalog-product__discount -5%
    .catalog-product__name
      a(href='') !{settings.name} 
    .catalog-product__prices
      .catalog-product__price !{settings.price} руб.
      if settings.oldPrice
        .catalog-product__old-price !{settings.oldPrice} руб.
    if settings.colors
      .catalog-product__colors
        if settings.loader
          .catalog-product__loader
        if settings.available
          +catalogProductColorsAvailable
          .catalog-product-buy
            a(href='#buy-one-click').product-buy-one-click.modal-link-buy-one-click.catalog-product-buy__one-click Купить в 1 клик
            a(href='#add-to-cart').btn.catalog-product-buy__button.modal-link-add-to-cart В корзину
        else 
          +catalogProductColorsUnavailable
          .catalog-product-buy
            a(href='#availability').btn.catalog-product-buy__button.catalog-product-buy__button--pre-order.modal-link-availability Предзаказ
