.catalog-product
  position relative
  width 100%
  padding-top 12px
  @media (max-width 1024px)
    height 100%
  &__offer
    display none
    &:first-child
      display block
  &__image
    display flex
    margin-bottom .5rem
    align-items center
    justify-content center
    @media (min-width 1024px)
      padding-inline 12px
    & img
      max-height 100%
  &__name
    margin-bottom .5rem
    font-size 0.875rem
    @media (min-width 1024px)
      padding-inline 12px
    @media screen and (max-width 786px)
      font-size 1rem
  &__prices
    position relative
    display flex
    padding-bottom .5rem
    @media (min-width 1024px)
      padding-inline 12px
  &__old-price
    margin-left 1rem
  &__colors
    display flex
    flex-direction column
    row-gap 10px
    @media(min-width 1024px)
      display none
  &__discount
    display flex
    margin-top auto
    margin-left -3.5rem
    width 3.5rem
    height 3.5rem
    font-size 1.25rem
    font-weight 500
