+container().home-news
  +content()
    +block-wrap({'wrap':true})
      +block-wrap__item(4,4,4,6)
        +link-header2('','Новости магазина').home-news__header
    +block-wrap({'wrap':true})
      +block-wrap__item(3,3,3,3).home-news__item
        figure.home-news__figure
          a(href='/').home-news__image-wrapper: +image('/images/news/1.jpg','Появилась новая коллекция париков от NJ Collection').home-news__image
          figcaption
            .home-news__date 27.01.2016
            +link-primary('','Появилась новая коллекция париков от NJ Collection').home-news__item-header
      +block-wrap__item(3,3,3,3).home-news__item
        figure.home-news__figure
          a(href='/').home-news__image-wrapper: +image('/images/news/1.jpg','Появилась новая коллекция париков от NJ Collection').home-news__image
          figcaption
            .home-news__date 27.01.2016
            +link-primary('','Появилась новая коллекция париков от NJ Collection').home-news__item-header
      +block-wrap__item(3,3,3,3).home-news__item
        figure.home-news__figure
          a(href='/').home-news__image-wrapper: +image('/images/news/1.jpg','Появилась новая коллекция париков от NJ Collection').home-news__image
          figcaption
            .home-news__date 27.01.2016
            +link-primary('','Появилась новая коллекция париков от NJ Collection').home-news__item-header
      +block-wrap__item(3,3,3,3).home-news__item
        figure.home-news__figure
          a(href='/').home-news__image-wrapper: +image('/images/news/1.jpg','Появилась новая коллекция париков от NJ Collection').home-news__image
          figcaption
            .home-news__date 27.01.2016
            +link-primary('','Появилась новая коллекция париков от NJ Collection').home-news__item-header
