.article-content
  --arrow-width 2px
  --arrow-height 14px
  --before-transform translate(-8px, 0) rotate(-45deg)
  --after-transform translate(1px, 0) rotate(45deg)
  display grid
  grid-template-rows min-content 0fr
  margin-bottom 1.5rem
  background-color #af93e20f
  transition grid-template-rows .3s ease-in-out
  p + &
    margin-top 1.5rem
  &--active
    --before-transform translate(-8px, 0) rotate(45deg)
    --after-transform translate(1px, 0) rotate(-45deg)
    grid-template-rows min-content 1fr
    transition grid-template-rows .2s ease-in-out
  &__title
    position relative
    margin 0
    padding 1.5rem
    cursor pointer
  &__arrow
    &::before
    &::after
      content ''
      position absolute
      background-color #292929
      width var(--arrow-width)
      height var(--arrow-height)
      top calc(50% - 8px)
      left calc(100% - 2rem)
      transition transform .15s ease-in-out
    &::before
      transform var(--before-transform)
    &::after
      transform var(--after-transform)
  &__body
    display flex
    flex-direction column
    gap 0.25rem
    overflow hidden
    counter-reset numbers
  &__link
    padding-left 1.5rem
    &:last-child
      padding-bottom 2rem
    &::before
      content counter(numbers)  ". "
      counter-increment numbers
