.link-icons
  parMargin()
  display flex
  align-items center
  margin 0 -.25rem
  &__link
    display block
    height 0
    margin 0 .25rem
    padding 1rem
    background-repeat no-repeat
    background-position center
    background-size contain
    &--whatsapp
      background-image url(../images/svg-sprites/link-icons.svg#whatsapp)
    &--viber
      background-image url(../images/svg-sprites/link-icons.svg#viber)
    &--telegram
      background-image url(../images/svg-sprites/link-icons.svg#telegram)
    &--instagram
      background-image url(../images/svg-sprites/link-icons.svg#instagram)
