mixin linkIcons(list = [])
  -
    links = {
      telegram: 'https://t.me/hair_design_spb',
      viber: 'viber://chat?number=79215710124',
      whatsapp: 'https://wa.me/79215710124',
      instagram: 'https://www.instagram.com/hair_design_spb',
      facebook: 'https://facebook.com/hairdesign.ru/',
      vk: 'https://vk.com/salon_hairdesign',
    }
  .link-icons&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
