.header-main
  padding-top 1rem
  &__logo
    margin-right 16px
    margin-left 12px
    padding-left 0
    padding-right 0
    flex-basis 170px
    flex-shrink 0
    height 90px
    @media screen and (max-width 1024px) and (min-width 769px)
      flex-basis 126px
      height 75px
    @media screen and (max-width 786px)
      margin-left -16px
      margin-right 8px
      flex-basis 104px
  &__basket
    flex-basis 196px
    flex-shrink 0
    padding-bottom 1.1875rem
    align-self stretch
  &__nav
    flex-grow 1
  @supports (display: grid)
    &__top
      .block-wrap.s-hidden
        grid-template-columns 170px 1fr 196px
        grid-template-areas 'logo nav basket'
        @media screen and (max-width 1024px) and (min-width 769px)
          grid-template-columns 126px 1fr 196px
      .xl-hidden.l-hidden.m-hidden
        grid-template-columns 104px 1fr
        grid-template-areas 'logo info'
        .header-main__info
          grid-area info
    &__logo
      grid-area logo
    &__basket
      grid-area basket

.top-menu
  padding-top 5px

.appointment
  position sticky
  top 0
  width 100%
  padding-top 0.75rem
  padding-bottom 0.75rem
  p 
    margin-bottom 0
    font-size 1rem
    line-height 1.2
    font-weight 500
