include /blocks/banner-schedule/banner-schedule

+container().appointment: +content()
  p Предварительная запись в салон обязательна, так как консультация и подбор цвета займет ваше время.

.top-menu.s-hidden
  .container
    .content
      include ../nav-top/nav-top
header.header-main
    +container().header-main__top
      +content()
        +block-wrap().block-wrap_align-center.s-hidden
          a(href='/').block-wrap__item.header-main__logo
          .block-wrap__item.header-main__nav
            include ../nav-main/nav-main
            include ../header-info/header-info
          .block-wrap__item.header-main__basket
            include ../header-basket/header-basket

        +block-wrap.block-wrap_align-center.xl-hidden.l-hidden.m-hidden
          a(href='/').block-wrap__item.header-main__logo
          .block-wrap__item.header-main__info
            .header-info__big Интернет-магазин париков в Санкт-Петербурге
    +container().header-main__bottom
      +content()
        +block-wrap({
          'nopadding':true
        }).s-hidden
          +block-wrap__item(9,9,12)
            include ../nav-catalog/nav-catalog
          +block-wrap__item(3).m-hidden.s-hidden
            include ../header-search/header-search
        include ../header-mobile/header-mobile
    +container()
      +content()
        .header__banner(style="text-align:center; border:1px solid #7b66a1; padding-top:1rem; padding-bottom:1rem; margin-top:1rem;")
          p(style="margin-bottom:0;") 28 декабря: сокращенный день до 17:00 #[br] #[strong #[a(href='#' data-mrc-sh-title='new-year') График работы в праздничные дни]]
          div(data-mrc-sh-body='new-year')
            p 30&nbsp;декабря: с 10:00 до 19:00 #[br] 31&nbsp;декабря&nbsp;&mdash; 3&nbsp;января: выходной #[br] 4&nbsp;января&nbsp;&mdash; 6&nbsp;января: с 10:00 до 19:00 #[br] 7 января: выходной #[br] 8 января: с 10:00 до 19:00 #[br] c 9 января работаем в обычной режиме
    +bannerSchedule
