.header-main
  &__logo
    background url('../images/logo.png')
    background-size contain
    background-repeat no-repeat
  &__bottom
    background-color #7b66a1
.top-menu
  background-color #efefef

.appointment
  z-index 900
  background-color #eb47a4
  p 
    text-align center
    color #ffffff
