mixin form()
  form.form(class!=attributes.class)
    block

mixin form__text-input(id, label, placeholder, validationText)
  .form-input
    label.form-label(for= id)= label
    input.form-input_text(id= id type='text' placeholder= placeholder class!=attributes.class)
    if validationText
      .form-input__validation= validationText

mixin form__textarea(id, label, placeholder, validationText)
  .form-input
    label.form-label(for= id)= label
    textarea.form-input_textarea(id= id type='text' placeholder= placeholder class!=attributes.class)
    if validationText
      .form-input__validation= validationText


    
  
