+container().home-other-products
  +content()
    +block-wrap({'wrap':true}).home-other-products__list
      +block-wrap__item(4,4,4,6).home-other-products__item
        +link-header2('','Головные уборы').home-other-products__header.home-other-products__header_hats
      +block-wrap__item(8,8,12,6).home-other-products__item
        include ../home-other-products-list/home-other-products-list
    +block-wrap({'wrap':true}).home-other-products__list
      +block-wrap__item(4,4,4,6).home-other-products__item
        +link-header2('','Накладки').home-other-products__header.home-other-products__header_covers
      +block-wrap__item(8,8,12,6).home-other-products__item
        include ../home-other-products-list/home-other-products-list
    +block-wrap({'wrap':true}).home-other-products__list
      +block-wrap__item(4,4,4,6).home-other-products__item
        +link-header2('','Шиньоны').home-other-products__header.home-other-products__header_shignons
      +block-wrap__item(8,8,12,6).home-other-products__item
        include ../home-other-products-list/home-other-products-list
