.payment-methods
  margin-bottom 1.5rem
  &__list
    display flex
    margin-left -8px
    flex-wrap wrap
  &__item
    margin 8px
    margin-right 0
    display flex
    width calc(25% - 8px)
    align-items center
    img
      width 100%
