mixin payment-methods(name = '', methods = [])
  .payment-methods
    h4.payment-methods__name !{name}
    .payment-methods__list
      each method in methods
        .payment-methods__item
          -var src = '/images/payment/' + method.image + '.svg'
          img(src= src) 
