.header-search
  height 100%
  &__form
    display flex
    height 100%
    position relative
  &__input
    position relative
    flex-grow 1
    width 100%
    height 100%
    padding 0 calc(1rem + 48px) 0 1rem
    font-size .75rem
    z-index 1
  &__submit
    position absolute
    top 0
    right 0
    width 48px
    height 100%
    z-index -1
    flex-basis 48px
