.rating-sum
  display flex
  align-items center
  column-gap 0.2rem
  &__star
    --gradient-stop 0 
    width 1rem
    height 1rem
    mask-image url(../images/svg-sprites/common.svg#star)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha
    background-image linear-gradient(to right, #FFE34A var(--gradient-stop), #E5E5E5 var(--gradient-stop))
  &__count 
    padding-left 0.25rem
    line-height 1
    color #7a7a7a
